<template>
<div class="ordersList">
  <v-card class="mx-auto mb-1 mr-1" max-width="auto"
  v-for="order in tkOrder" :key="order.id" @click="orderDetails(order)"
  :class="{'selected': selectedOrder && selectedOrder == order.id}">
    <v-card-text class="font-weight-light orderCard">
      <div><span class="black--text"># {{ order.bill }} </span>
        <br><span class="green--text">{{ order.time }}</span>
        <br><span class="blue--text darken-4">{{ clientInfo(order.client).firstname }}</span></div>
    </v-card-text>
  </v-card>
</div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'takeawayOrder',
  props: {
    tkOrder: {
      type: Array
    }
  },

  data () {
    return {
      selectedOrder: null
    }
  },

  computed: {
    ...mapGetters('order', ['clients']),

    clientList () {
      return this.clients
    }

  },

  methods: {
    clientInfo (clientId) {
      let client = { firstname: 'Random Order' }
      const index = this.clientList.findIndex((Client) => { return Client.id === clientId })
      if (index >= 0) {
        client = this.clientList[index]
      }
      return client
    },

    orderDetails (orderId) {
      this.selectedOrder = orderId
      this.$emit('selected-order', orderId)
    }

  }

}
</script>
<style scoped>
  .ordersList {
      max-height: 400px;
      min-height: 400px;
      width: 100%;
      overflow-y: scroll;
  }
  .orderCard {
    cursor: pointer;
  }
  .orderCard:hover {
    background-color: #ecebeb!important;
  }
  .selected {
      background-color: rgb(173, 162, 236)!important;
    }
</style>
