<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent width="500">
      <v-card-title dense class="headline white" primary-title>
          Bill {{ order.bill }}
          <v-spacer></v-spacer>
          <v-btn small @click="printBill" class="ma-2" outlined fab color="teal">
            <v-icon>mdi-printer</v-icon>
          </v-btn>
          <v-btn small @click="closeDialog" class="ma-2" outlined fab color="red">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
      <v-card-text class="white">
        <div id="billView">
            <div class="text-center" style="margin:0px;padding:0px;font-family:sans-serif;width: 100%;background-color:rgba(255, 255, 255, 0.91);top:0;left:0;">
                <p style="text-align:center;" class="heading-4 font-weight-bold">{{ company.name }}</p>
                <p style="text-align:center;" class="heading-4 font-weight-bold">{{ outletLocation(company.outlet) }}</p>
                <p style="text-align:center;" class="heading-4 font-weight-bold">TAX INVOICE</p>
                <hr>
            </div>
            <div class="text-left pt-1">
                <p class="heading-4 font-weight-regular">BILL: #{{ order.bill  }}</p>
                <p class="heading-4 font-weight-regular"> {{ orderCreatedBy(order.createdby)  }}</p>
                <p class="heading-4 font-weight-regular">Date: {{ order.date  }}</p>
                <p class="heading-4 font-weight-regular">Time: {{ timeNow }}</p>
                <p class="heading-4 font-weight-regular">Printed By: {{ company.name  }}</p>
                <hr>
            </div>
            <div>
                <div class="orderItem">
                    <p class="heading-4 font-weight-regular text-left">ITEM</p>
                    <p class="heading-4 font-weight-regular text-right">AMOUNT</p>
                </div>
                <hr>
                <div class="orderItem" v-for="menuItem in items" :key="menuItem.id">
                    <p class="heading-4 font-weight-regular text-left">
                        <span>{{ menuItem.quantity }}</span>
                        {{ itemName(menuItem.menuitem).name }}</p>
                    <p class="heading-4 font-weight-regular text-right">{{ formatNumber(menuItem.amount) }}</p>
                </div>
                <hr>
                <div class="orderItem">
                    <p class="heading-4 font-weight-bold text-left">TOTAL</p>
                    <p class="heading-4 font-weight-bold text-right">{{ formatNumber(orderTotal) }}</p>
                </div>
                <div v-if="orderDiscount >=0">
                  <div class="orderItem">
                      <p class="heading-4 font-weight-regular text-left">DISCOUNT</p>
                      <p class="heading-4 font-weight-regular text-right">{{ formatNumber(discounts[orderDiscount].amount) }}</p>
                  </div>
                <hr>
                  <div class="orderItem">
                      <p class="heading-4 font-weight-bold text-left">BILL TOTAL</p>
                      <p class="heading-4 font-weight-bold text-right">{{ formatNumber(orderTotal - discounts[orderDiscount].amount) }}</p>
                  </div>
                </div>
            </div>
            <div id="tableView">
                <table class="tableView" style="margin:0px;padding:0px;font-family:sans-serif;width: 100%;background-color:rgba(255, 255, 255, 0.91);top:0;left:0;">
                    <tr style="text-align:center;"><th colspan="4"><small>{{ company.name }}</small></th></tr>
                    <tr style="text-align:center;font-size:12px;"><td colspan="4">{{ outletLocation(company.outlet) }} <br> {{ company.mobile }}</td></tr>
                    <tr style="text-align:center;font-size:14px;"><td colspan="4"><small><strong>TAX INVOICE</strong></small></td></tr>
                    <tr><td colspan="4"><hr></td></tr>
                    <tr><td colspan="4"><small>BILL No: #{{ order.bill  }}&nbsp;</small></td></tr>
                    <tr><td colspan="4"><small>{{ orderCreatedBy(order.createdby)  }}</small></td></tr>
                    <tr><td colspan="4"><small>DATE: {{ order.date  }} &nbsp; TIME: {{ timeNow  }}</small></td></tr>
                    <tr><td colspan="4"><small>Printed By {{ company.name  }}</small><hr></td></tr>
                    <template v-if="order.client != null && order.client.firstname != null">
                        <tr style="font-size:12px;"><td colspan="4"><strong>CLIENT DETAILS</strong></td></tr>
                        <tr style="font-size:12px;"><td colspan="4">NAME: {{ clientDetails(order.client).firstname }} &nbsp; {{ clientDetails(order.client).lastname }}</td></tr>
                        <tr style="font-size:12px;"><td colspan="4">ADDRESS: {{ clientDetails(order.client).address }}</td></tr>
                        <tr style="font-size:12px;"><td colspan="4">TIN: {{ clientDetails(order.client).tin }}</td></tr>
                        <tr style="font-size:12px;"><td colspan="4">EMAIL: {{ clientDetails(order.client).email }}</td></tr>
                        <tr style="font-size:12px;"><td colspan="4">CONTACT: {{ clientDetails(order.client).contact }}</td></tr>
                        <tr><td colspan="4"><hr></td></tr>
                    </template>
                    <tr style="font-size:14px;font-style:bold;"><td colspan="3">ITEM</td><td style="text-align: right;">Amount</td></tr>
                    <tr><td colspan="4"><hr></td></tr>
                    <tr v-for="menuItem in items" :key="menuItem.id">
                        <td style="text-align:left; margin-right:0px;" colspan="3"><small>{{ menuItem.quantity }}&nbsp;{{ itemName(menuItem.menuitem).name }}</small></td>
                        <td style="text-align:right;"><small>{{ formatNumber(menuItem.amount) }}</small></td>
                    </tr>
                    <tr><td colspan="4"><hr></td></tr>
                    <tr>
                        <td style="text-align:left; margin-right:0px;" colspan="3"><strong>TOTAL</strong></td>
                        <td style="text-align:right;"><strong>{{ formatNumber(orderTotal) }}</strong></td>
                    </tr>
                    <tr>
                        <td v-if="orderDiscount >= 0" style="text-align:left; margin-right:0px;" colspan="3"><small>DISCOUNT</small></td>
                        <td v-if="orderDiscount >= 0" style="text-align:right;"><small>{{ formatNumber(discounts[orderDiscount].amount) }}</small></td>
                    </tr>
                    <tr>
                        <td v-if="orderDiscount >= 0" style="text-align:left; margin-right:0px;" colspan="3"><strong>BILL TOTAL</strong></td>
                        <td v-if="orderDiscount >= 0" style="text-align:right;"><strong>{{ formatNumber(orderTotal - discounts[orderDiscount].amount) }}</strong></td>
                    </tr>
                    <tr><td colspan="4"><hr></td></tr>
                    <tr><td colspan="4" style="text-align:center;">
                        <small>Powered By PRODEV GROUP <br> www.prodevgroup256.com</small>
                    </td></tr>
                </table>
            </div>
        </div>
      </v-card-text>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
moment.defaultFormat = 'HH:mm'

export default {
  name: 'ViewBill',

  props: {
    company: {
      type: Object,
      required: true
    },
    order: {
      type: Object
    },
    items: {
      type: Array
    },
    discounts: {
      type: Array
    }
  },

  data () {
    return {
      dialog: true,
      orderTotal: 0,
      timeNow: moment().format('hh:mm a'),
      orderDiscount: -1
    }
  },

  computed: {
    ...mapGetters('menu', ['menuItems']),
    ...mapGetters('order', ['clients']),
    ...mapGetters('manage', ['employees']),
    ...mapGetters('sections', ['outlets']),

    menuItemsList () {
      return this.menuItems
    },

    clientList () {
      return this.clients
    }

  },

  created () {
    this.items.forEach((menuItem) => {
      this.orderTotal += menuItem.amount
    })
    this.discountAdded()
  },

  methods: {

    outletLocation (outletId) {
      const OutletDetails = this.outlets.find((Outlet) => { return Outlet.id.match(outletId) })
      if (OutletDetails) return OutletDetails.address
      else return ''
    },

    orderCreatedBy (userId) {
      const UserDetails = this.employees.find((Employee) => { return Employee.id.match(userId) })

      if (UserDetails) return `Created By: ${UserDetails.name}`
      else return ''
    },

    discountAdded () {
      const index = this.discounts.findIndex((Discount) => { return Discount.order === this.order.id })
      this.orderDiscount = index
    },

    clientDetails (ClientId) {
      let client = { firstname: null }
      const index = this.clientList.findIndex((Client) => { return Client.id === ClientId })
      if (index >= 0) {
        client = this.clientList[index]
      }
      return client
    },

    closeDialog () {
      this.$emit('close-order-dialog')
    },
    formatNumber (amount, decimalCount = 2, decimal = '.', thousands = ',') {
      return Number((amount).toFixed(1)).toLocaleString()
    },

    itemName (itemId) {
      return this.menuItemsList.find((Item) => {
        return Item.id === itemId
      })
    },
    printBill () {
      var divToPrint = document.getElementById('tableView')

      var newWin = window.open('', 'Print-Window')

      newWin.document.open()

      newWin.document.write('<html><style>@page{size: auto;margin: 0mm;}</style><body onload="window.print(true)">' + divToPrint.innerHTML + '</body></html>')

      newWin.document.close()

      setTimeout(function () {
        newWin.close()
        divToPrint.innerHTML = ''
      }, 10)
      this.$emit('close-order-dialog')
    }
  }
}
</script>
<style scoped>
.tableView {
    display: none;
}
    #billView {
       background-color: white;
    }
    .orderItem {
      display: grid;
      grid-template-columns: 80% 20%;
      margin: auto;
    }
</style>
