<template>
    <v-container fluid>
      <v-row>
        <v-col cols="12" xs="12" sm="6" md="6">
          <v-text-field ref="firstname" v-model="firstname" label="* First Name"></v-text-field>
        </v-col>
        <v-col cols="12" xs="12" sm="6" md="6">
          <v-text-field ref="lastname" v-model="lastname" label="* Last Name"></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" xs="12" sm="6" md="6">
          <v-text-field ref="address" v-model="address" label="* Address"></v-text-field>
        </v-col>
        <v-col cols="12" xs="12" sm="6" md="6">
          <v-text-field v-model="tin" label="TIN"></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" xs="12" sm="6" md="6">
          <v-text-field ref="contact" v-model="contact" label="Contact"></v-text-field>
        </v-col>
        <v-col cols="12" xs="12" sm="6" md="6">
          <v-text-field ref="email" v-model="email" label="Email"></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" xs="12" sm="12" md="12">
          <v-btn @click="createClient(1)" block class="blue darken-3 float-right" dark>Create Client</v-btn>
        </v-col>
        <!-- <v-col cols="12" xs="12" sm="6" md="6">
          <v-btn @click="createClient(2)" block class="blue" dark>Create Client & Order</v-btn>
        </v-col> -->
      </v-row>
    </v-container>
</template>
<script>
import validator from 'validator'
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'
moment.defaultFormat = 'DD.MM.YYYY HH:mm'

export default {
  name: 'NewClientForm',

  props: {
    outlet: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      firstname: '',
      lastname: '',
      contact: '',
      email: '',
      address: '',
      tin: '',
      date: new Date().toISOString().substr(0, 10)
    }
  },

  computed: {
    ...mapGetters('auth', ['profile']),

    company () {
      return this.profile
    }

  },

  methods: {
    ...mapActions('auth', ['setError']),
    ...mapActions('order', ['createNewClient']),

    createClient (option) {
      if (this.firstname.length <= 1) {
        this.setError('Sorry, First Name Must Be Atleast 2 Characters Long')
        this.$refs.firstname.focus()
      } else if (this.lastname.length <= 1) {
        this.setError('Sorry, Last Name Must Be Atleast 2 Characters Long')
        this.$refs.lastname.focus()
      } else if (this.address.length <= 2) {
        this.setError('Sorry, Client Address Must Be Atleast 3 Characters Long')
        this.$refs.address.focus()
      } else if (this.contact.length <= 1 && this.email.length <= 1) {
        this.setError('Sorry, Client Email Or Contact Number Is Required')
      } else if (this.email.length > 1 && !validator.isEmail(this.email)) {
        this.setError('Sorry, Please Check Email Address')
        this.$refs.email.focus()
      } else if (this.contact.length > 1 && this.contact.length < 8) {
        this.setError('Sorry, Please Check Contact Number')
        this.$refs.contact.focus()
      } else {
        const newClient = {
          firstname: this.firstname.toUpperCase(),
          lastname: this.lastname.toUpperCase(),
          address: this.address.toUpperCase(),
          tin: this.tin,
          contact: this.contact,
          email: this.email,
          action: parseInt(option),
          company: this.company.company,
          created: moment(this.date).format('dddd, MMMM Do YYYY'),
          date: this.outlet.day_open,
          time: moment().format('hh:mm:ss a'),
          createdby: this.company.id
        }
        this.createNewClient(newClient)
        this.$emit('close')
      }
    }
  }

}
</script>
