<template>
    <div>
        <!-- <v-text-field dense v-model="searchOrder" @keyup="searchForMenuItem" placeholder="search" /> -->
         <div
            :class="{ 'unconfirmed' : menuItem.status == 0 }"
            class="orderItemView"
            v-for="menuItem in orderItems" :key="menuItem.id">
            <div class="itemHolder">
              <div class="text-truncate">
                <p>{{ menuItem.quantity }} {{ itemName(menuItem.menuitem).name }}</p>
              </div>
              <div class="text-truncate">
                <p class="text-right mr-1">{{ formatNumber(menuItem.amount) }}</p>
              </div>
              <div class="text-truncate text-right">
                <v-btn v-if="menuItem.status == 0" class="blue darken-3" dark icon x-small @click="viewOrderItem(menuItem)">
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn v-else-if="menuItem.status == 1 && user.role == 'super'" class="grey darken-3" dark icon x-small @click="viewOrderItem(menuItem)">
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </div>
            </div>
          </div>
          <UpdateOrderItem
              :orderItem="orderItemSelected"
              v-if="updateItem"
              @close-update="closeItemUpdate"/>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import UpdateOrderItem from '@/components/modals/updateOrderItem.vue'

export default {
  name: 'OrderItem',

  props: {
    orderItems: {
      type: Array
    },
    user: {
      type: Object
    },
    search: {
      type: String
    }
  },

  components: {
    UpdateOrderItem
  },

  data () {
    return {
      headers: [
        { text: 'Item', value: 'menuitem', sortable: false, align: 'start' },
        { text: 'Amount', value: 'amount', sortable: false, align: 'end' },
        { text: '', value: 'action', sortable: false }
      ],
      updateItem: false,
      orderItemSelected: null,
      searchOrder: '',
      searchingMenuItem: '',
      sampleItemsArray: []
    }
  },

  watch: {
    search (newVal) {
      this.searchForMenuItem()
    },

    sampleItemsArray (newVal) {
      if (newVal.length > 0) {
        this.searchingMenuItem = newVal[0].id
      } else {
        this.searchingMenuItem = ''
      }
    }
  },

  computed: {
    ...mapGetters('menu', ['menuItems']),

    menuItemsList () {
      return this.menuItems
    }

  },

  methods: {
    searchForMenuItem () {
      if (this.search.length > 1) {
        this.sampleItemsArray = this.menuItemsList.filter((menuItem) => {
          return menuItem.name.match(this.search.toUpperCase())
        })
      } else {
        this.sampleItemsArray = []
      }
    },

    formatNumber (amount, decimalCount = 2, decimal = '.', thousands = ',') {
      return Number((amount).toFixed(1)).toLocaleString()
    },

    itemName (itemId) {
      return this.menuItemsList.find((Item) => {
        return Item.id === itemId
      })
    },

    closeItemUpdate () {
      this.updateItem = false
    },

    viewOrderItem (item) {
      this.orderItemSelected = { ...item, name: this.itemName(item.menuitem).name }
      this.updateItem = true
    }

  }

}
</script>
<style scoped lang="scss">
    .orderItemView {
      width: 100%!important;
      height: 40px!important;
      background-color: #fdfdfd!important;
      color: black;
      padding-left: 2px;
      padding-right: 2px;
      border-bottom: 1px solid #d1d1d1;
      margin-bottom: 1px;
      font-weight: 300;
      .itemHolder {
          display: grid;
          grid-template-columns: 60% 30% 10%;
          .text-truncate {
            padding: 10px 0;
            font-size: 14px;
          }
      }
    }

    .item-list {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .order-item {
        padding-left: 3px;
        padding-right: 3px;
        font-size: 14px;
        overflow: hidden;
        font-weight: 100;
        color: #000;
        vertical-align: 0%;
        cursor: pointer;
    }
    .order-item:hover {
        background: rgba(75, 75, 126, 0.1)!important;
        font-weight: 400!important;
    }
    .unconfirmed {
      background-color: rgb(179, 166, 255)!important;
    }
</style>
