<template>
  <div v-if="order">
    <v-card class="mx-auto order-view">
      <v-toolbar dense elevation="1">
        <v-toolbar-title>
         #{{ order.bill }}
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
        <div class="order" id="style-1">
          <div class="force-overflow">
            <OrderItem :search="searchOrder" :user="user" :orderItems="items"/>
          </div>
        </div>

      <v-card-actions class="font-weight-light grey lighten-2 black--text">
        <div>
          <small class="font-weight-bold black--text">TOTAL</small><br>
          <small v-if="orderDiscount >= 0">DISCOUNT</small><br>
          <small class="font-weight-bold black--text" v-if="orderDiscount >= 0">BILL</small>
        </div>
          <v-spacer></v-spacer>
          <div>
            <small class="font-weight-bold black--text" text>{{ formatNumber(orderTotal) }}</small><br>
            <small v-if="orderDiscount >= 0">{{ formatNumber(discounts[orderDiscount].amount) }}</small><br>
            <small class="font-weight-bold black--text" v-if="orderDiscount >= 0">{{ formatNumber(orderTotal - discounts[orderDiscount].amount) }}</small>
          </div>
      </v-card-actions>
    </v-card>
  </div>
  <div v-else>
    <v-card flat class="mx-auto order-view">
      <v-toolbar dense elevation="1">
        <v-toolbar-title>No Order Selected</v-toolbar-title>
      </v-toolbar>
      <v-card-text height="300" />
    </v-card>
  </div>
</template>
<script>
import OrderItem from '@/components/Order/orderItem.vue'
import ComputedMethodsMixin from '@/mixins/computations'

export default {
  name: 'SelectedOrder',

  props: {
    order: {
      type: Object
    },
    items: {
      type: Array
    },
    user: {
      type: Object
    },
    discounts: {
      type: Array
    }
  },

  mixins: [
    ComputedMethodsMixin
  ],

  components: {
    OrderItem
  },

  data () {
    return {
      updateItem: false,
      orderTotal: 0,
      searchOrder: '',
      orderDiscount: -1
    }
  },

  watch: {
    items (newVal) {
      if (newVal.length <= 0) {
        this.orderTotal = 0
      } else {
        this.orderTotal = 0
        newVal.forEach((menuItem) => {
          this.orderTotal += menuItem.amount
        })
      }
    },
    order (newOrder) {
      this.discountAdded()
    },
    discounts (val) {
      this.discountAdded()
    }
  },

  methods: {
    discountAdded () {
      if (!this.order) return
      const index = this.discounts.findIndex((Discount) => { return Discount.order === this.order.id })
      this.orderDiscount = index
    }
  }

}
</script>
<style scoped>
    .order-view {
      display: flex;
      flex-flow: column;
      height: 450px;
    }
    .order {
        height: 100%!important;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #style-1::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }
    .force-overflow {
        min-height: auto!important;
    }
    #style-1::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
</style>
