<template>
    <div class="nav-container">
        <div class="user-info">
            <div class="pane-item" v-if="user">
                <div class="icon">
                <v-avatar size="25" color="inherit">
                    <v-icon dark color="#72838c">
                        mdi-account-circle
                    </v-icon>
                </v-avatar>
                </div>
                <div class="user-name">
                    {{ `Welcome ${user.firstname}` }}
                </div>
            </div>
            <div class="pane-item">
                <div class="icon">
                <v-avatar size="25" color="inherit">
                    <v-icon dark color="#72838c">
                        mdi-cog
                    </v-icon>
                </v-avatar>
                </div>
                <div class="user-name">
                    Settings
                </div>
            </div>
        </div>
        <div class="user-info">
            <div class="pane-item" v-for="route in routes" :key="route.title">
            <!-- <router-link :to="{ name: route.path }" class="item-link"> -->
                <div class="icon">
                <v-avatar size="25" color="inherit">
                    <v-icon dark color="#72838c">
                        {{ route.icon }}
                    </v-icon>
                </v-avatar>
                </div>
                <div class="user-name">
                    {{ route.title }}
                </div>
              <!-- </router-link> -->
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'NavPane',

  data () {
    return {
      routes: [
        { path: 'countries', icon: 'mdi-map', title: 'Countries' },
        { path: 'statistics', icon: 'mdi-graph', title: 'Statictics' },
        { path: 'about', icon: 'mdi-about', title: 'About' }
      ]
    }
  },
  computed: {
    ...mapGetters('auth', ['user'])
  }
}
</script>
<style scoped lang="scss">
    @import '@/styles/landing.scss';

</style>
