<template>
    <div class="sales">
        <h3>Payment Sammary</h3>
        <div class="settlement">
            <div class="settlement_item" v-for="payment in paymentTypes" :key="payment.id">
                <div class="sale-icon">
                    <div class="item icon">
                        <h1>
                            <v-icon>mdi-payments</v-icon>
                        </h1>
                    </div>
                </div>
                <div class="sale-amount">
                    <div class="item amount">
                    <h3>{{ settlementAmount(payment.id) }}</h3>
                    <small class="font-weight-light">{{ payment.settlement }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import SalesSammary from '@/mixins/sales'
import ComputedMethodsMixin from '@/mixins/computations'

export default {
  name: 'Sammary',

  mixins: [
    SalesSammary,
    ComputedMethodsMixin
  ]
}
</script>
<style scoped lang="scss">
    @import '@/styles/style.scss';

    .sales {
        height: 100%;
        position: relative;
    }

    .settlement {
        display: flex;
        flex-wrap: wrap;
        vertical-align: baseline;
        width: 100%;
        padding: 40px;
    }

    .settlement_item:hover {
        border-top: 2px solid $purple;
        transition-delay: 3000;
        background-color: $light-background;
        cursor: pointer;
    }

    .settlement_item {
        position: relative;
        margin: 0% 1% 60px 1%;
        width: 100%;
        height: 100px;
        background-color: rgb(255, 253, 253);
        margin-bottom: 10px;
        box-shadow: 0 5px 5px rgba(49, 49, 49, .2);
        border-radius: 3px;
        border-top: 2px solid $blue;
        display: grid;
        grid-template-columns: 50% 50%;

        @media (min-width: 400px) and (max-width: 767px) {
            width: 49%;

            &:nth-of-type(2n) {
                margin-right: 0;
            }

            &:nth-of-type(2n + 1) {
                margin-left: 0;
            }
        }

        @media (min-width: 768px) and (max-width: 991px) {
            width: 32%;

            &:nth-of-type(3n) {
                margin-right: 0;
            }

            &:nth-of-type(3n + 1) {
                margin-left: 0;
            }
        }

        @media (min-width: 992px) {
            width: 23.5%;

            &:nth-of-type(4n) {
                margin-right: 0;
            }

            &:nth-of-type(4n + 1) {
                margin-left: 0;
            }
        }
    }

    .sale-icon, .sale-amount {
        margin: auto;

        .item {
            margin: auto;
            font-weight: 600;
            overflow: hidden;
        }
        .item:last-child {
            text-align: right;
        }
        .icon{
            text-align: right!important;
            color: #ccc;
        }
    }

</style>
