<template>
    <div>
        <v-card @click="confirmOrderItems" elevation="1" class="action-item text-center mb-2" height="80" width="100">
            <v-img class="confirm-order" src="../../assets/kot.png" height="50" width="50" />
            <small class="mt-2 font-weight-normal black--text">CONFIRM</small>
        </v-card>
        <!--
        <v-card elevation="1" class="action-item text-center mb-2" height="100" width="100">
            <v-card-text>
            <div class="font-weight-normal">
                <v-img src="../../assets/waiter.png" height="50" width="50" />
            </div>
            <p class="mt-2 font-weight-normal black--text">SERVE</p>
            </v-card-text>
        </v-card>
        -->

        <v-card @click="viewOrderBill" elevation="1" class="action-item text-center mb-2" height="85">
            <v-card-text>
            <div class="font-weight-normal">
                <v-img src="../../assets/invoice.png" height="50" width="50" />
            </div>
            <small class="mt-2 font-weight-normal black--text">BILL</small>
            </v-card-text>
        </v-card>

        <v-card elevation="1" class="action-item text-center" height="90" @click="settleOrder">
            <v-card-text>
            <div class="font-weight-normal">
                <v-img src="../../assets/cash.png" height="50" width="50" />
            </div>
            <small class="mt-2 font-weight-normal black--text">SETTLE</small>
            </v-card-text>
        </v-card>

        <v-card elevation="1" class="action-item text-center mt-2" height="100" @click="addDiscount">
            <v-card-text>
            <div class="font-weight-normal">
                <v-img src="../../assets/discount.png" height="50" width="50" />
            </div>
            <p class="mt-2 font-weight-normal black--text">Disc</p>
            </v-card-text>
        </v-card>

    </div>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'Actions',
  props: {
    order: {
      type: Object
    },
    items: {
      type: Array
    }
  },

  methods: {
    ...mapActions('order', ['confirmOrder']),

    confirmOrderItems () {
      // this.confirmOrder(this.order.id)
      this.$emit('confirm-order', this.order.id)
    },

    viewOrderBill () {
      this.$emit('view-bill-sammary')
    },

    settleOrder () {
      this.$emit('open-settlement-modal')
    },

    addDiscount () {
      this.$emit('add-discount')
    }
  }
}
</script>
<style scoped>
    .action-item {
        cursor: pointer;
        color: black!important;
        overflow: hidden;
    }
    .action-item:hover {
        background-color: inherit!important;
    }
    .confirm-order {
        margin: auto;
    }
</style>
