<template>
    <v-card elevation="1" class="mx-auto mb-2">
    <v-toolbar dense elevation="1" dark class="menuItemsBar">
      <v-toolbar-title class="font-weight-light">Categories</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field @keyup="searchCategory" v-model="categorySearch" hide-details single-line placeholder="Search..."></v-text-field>
    </v-toolbar>

    <div dense class="menuCategories">
      <div class="categories">
        <v-card elevation="1" class="category-item" height="50" @click="filterCategories(0)">
            <v-card-text>
            <div class="orange--text text-center font-weight-normal">SHOW ALL</div>
            </v-card-text>
        </v-card>
        <v-card v-for="category in categories" :key="category.id" elevation="1"
                class="category-item" height="50" @click="filterCategories(category.id)">
            <v-card-text>
            <div class="black--text text-center font-weight-normal">{{ category.category }}</div>
            </v-card-text>
        </v-card>
      </div>
    </div>
  </v-card>
</template>
<script>

export default {
  name: 'MenuCategories',

  props: {
    categories: {
      type: Array
    }
  },

  data () {
    return {
      categorySearch: ''
    }
  },

  methods: {
    searchCategory () {
      this.$emit('searchCategory', this.categorySearch.toUpperCase())
    },

    filterCategories (categoryId) {
      this.$emit('find-category', categoryId)
    }
  }

}
</script>
<style scoped lang="scss">
  @import '../../styles/style.scss';

  .menuItemsBar {
    background-color: $blue!important;
    color: $white!important;
  }
    .menuCategories {
        max-height: 150px!important;
        min-height: 150px!important;
        overflow: hidden!important;
        background-color: rgb(231, 231, 231);

        .categories {
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;

          .category-item {
            margin: 1px !important;
            cursor: pointer;
          }

          .category-item:hover {
              background: rgba(75, 75, 126, 0.1)!important;
              cursor: pointer!important;
              font-weight: 800!important;
            }

        }
    }
</style>
