<template>
  <div class="grid">
    <v-card v-for="item in menuItems" :key="item.id" @click="pickItem(item)" elevation="1" class="menu-item" height="80">
        <v-card-text>
        <div class="black--text font-weight-normal item-name">{{ item.name }}</div>
        <div>
          <p class="mt-2 font-weight-bold black--text float-right">{{ formatNumber(item.price) }}</p>
        </div>
        </v-card-text>
    </v-card>
    </div>
</template>
<script>
export default {
  name: 'MenuItem',

  props: {
    menuItems: {
      type: Array
    }
  },

  methods: {
    formatNumber (amount, decimalCount = 2, decimal = '.', thousands = ',') {
      return Number((amount).toFixed(1)).toLocaleString()
    },

    pickItem (item) {
      this.$emit('item-selected', item)
    }
  }

}
</script>
<style scoped lang="scss">
    .grid {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        padding: 0!important;
    }
    .menu-item {
        margin: 2px!important;
        font-weight: 100!important;
        color: black!important;
        overflow: hidden;
        font-size: 12px!important;
    }

    .item-name {
        max-lines: 2!important;
        font-size: 12px!important;
    }

    .menu-item:hover {
        background: rgba(75, 75, 126, 0.1)!important;
        cursor: pointer!important;
        font-weight: 800!important;
        color: green!important;
    }
</style>
