<template>
    <v-card class="mx-auto">
    <v-toolbar dense elevation="1" dark class="menuItemsBar">
      <v-toolbar-title dense class="font-weight-light">Menu Items</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field hide-details single-line @keyup="searchMenuItem" v-model="search" placeholder="Search..."></v-text-field>
      <v-tooltip top>
      <template v-slot:activator="{ on }">
      <v-btn icon small dark v-on="on" @click="createRandomOrder">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      </template>
      <span>Create Random Order</span>
    </v-tooltip>
    </v-toolbar>
      <div class="menuItems">
          <MenuItem @item-selected="menuItemPicked" :menuItems="menuItems" />
      </div>
  </v-card>
</template>
<script>
import MenuItem from '@/components/menu/menuItem.vue'
import { mapActions } from 'vuex'

export default {
  name: 'MenuItems',

  props: {
    menuItems: {
      type: Array
    }
  },

  components: {
    MenuItem
  },

  data () {
    return {
      search: ''
    }
  },

  methods: {
    ...mapActions('auth', ['setError']),

    searchMenuItem () {
      this.$emit('search-menu-item', this.search.toUpperCase())
    },

    menuItemPicked (item) {
      this.$emit('item-selected', item)
    },

    createRandomOrder () {
      this.$emit('create-random-order')
    }
  }

}
</script>
<style scoped lang="scss">
    @import '../../styles/style.scss';

      .menuItemsBar {
        background-color: $blue!important;
        color: $white!important;
      }
    .menuItems {
        max-height: 400px!important;
        min-height: 400px!important;
        overflow-y: scroll;
        background-color: rgb(231, 231, 231);
    }
</style>
