<template>
  <div class="text-center">
    <v-dialog persistent v-model="dialog" width="500">
      <v-card v-if="menuItem">
        <v-card-title class="headline blue darken-3 white--text font-weight-light" primary-title>
          {{ menuItem.name }}
        </v-card-title>
        <v-container class="font-weight-light black--text">
            <v-row>
                <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                    Unit Price
                </v-col>
                <v-col cols="12" xs="12" sm="6" md="9">
                    <v-text-field dense type="number" disabled v-model="unitprice" label="Unit Price" hint="Price Per Item" outlined></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                    Quantity
                </v-col>
                <v-col cols="12" xs="12" sm="6" md="9">
                    <v-text-field dense @keyup="computeTotal" @change="computeTotal" v-model="quantity" label="Quantity" hint="Number Of Items" outlined></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                    Amount
                </v-col>
                <v-col cols="12" xs="12" sm="6" md="9">
                    <v-text-field dense type="number" disabled v-model="amount" label="Amount" hint="Item Cost" outlined></v-text-field>
                </v-col>
            </v-row>
        </v-container>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="closeDialog">
            Cancel
          </v-btn>
          <v-btn dark color="blue darken-3" text @click="saveQuantity">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'AddQuantityModal',

  props: {
    menuItem: {
      type: Object
    }
  },

  data () {
    return {
      dialog: true,
      quantity: 1,
      amount: 0,
      unitprice: 0
    }
  },

  created () {
    if (this.menuItem === undefined || this.menuItem === null) this.closeDialog()
    this.quantity = 1
    this.unitprice = this.menuItem.price
    this.amount = parseFloat(this.quantity * this.menuItem.price)
  },

  methods: {
    closeDialog () {
      this.$emit('close-quantity-dialog')
    },

    computeTotal () {
      this.amount = parseFloat(this.quantity * this.menuItem.price)
    },

    saveQuantity () {
      const itemQuatity = {
        unitprice: this.unitprice,
        quantity: this.quantity,
        amount: this.amount
      }
      this.$emit('save-quantity', itemQuatity)
    }
  }

}
</script>
