<template>
    <v-dialog persistent v-model="dialog" width="500">
        <v-card class="white">
            <v-card-title class="headline bar white--text font-weight-light">
                ORDER DISCOUNT
                <v-spacer></v-spacer>
                <v-btn icon small class="white--text" @click="closeDialog"><v-icon>mdi-close</v-icon></v-btn>
            </v-card-title>
            <v-card-text>
              <div v-if="discountRecord >= 0">
                <v-card class="mx-auto ma-2 blue lighten-5">
                  <v-card-title class="font-weight-light">
                    This order has a discount already
                     <v-spacer></v-spacer>
                      <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn @click="deleteDiscount(discounts[discountRecord].id)" v-bind="attrs" v-on="on" class="ma-2 float-right" outlined small fab color="teal">
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                      </template>
                      <span>Delete discount</span>
                    </v-tooltip>
                  </v-card-title>
                  <v-card-text class="font-weight-light">
                    <p class="display-1 text--primary">
                      {{ formatNumber(discounts[discountRecord].amount) }}
                    </p>
                    <div>
                      <p color="teal">Reason: {{ discounts[discountRecord].reason }}</p>
                    </div>
                  </v-card-text>
                </v-card>
              </div>
                <div>
                    <v-expansion-panels>
                      <v-expansion-panel class="font-weight-light" v-for="(item,i) in discountOptions" :key="i">
                        <v-expansion-panel-header>{{ item }}</v-expansion-panel-header>
                        <v-expansion-panel-content class="font-weight-light">
                          <template v-if="item === 'Discount By Amount'">
                            <v-row>
                              <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                Amount
                              </v-col>
                              <v-col cols="12" xs="12" sm="6" md="9">
                                  <v-text-field dense @keyup="checkDiscountAmount" v-model="discountAmount" label="Amount" persistent-hint
                                  :hint="'Amount Should Be Less ' + formatNumber(totalAmount)" outlined></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                Reason
                              </v-col>
                              <v-col cols="12" xs="12" sm="6" md="9">
                                  <v-text-field dense v-model="reasonforDiscountAmount" label="Reason" hint="Reason For The Discount" outlined></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" xs="12" sm="6" md="6" class="green--text text-left">
                                <p v-if="finalAmount >= 0">Final Amount {{ formatNumber(finalAmount) }}</p>
                              </v-col>
                              <v-col cols="12" xs="12" sm="6" md="6">
                                  <v-btn
                                  v-if="discountAmount.length >0 && reasonforDiscountAmount.length >0"
                                  @click="addDiscountAmount"
                                  class="blue darken-3 float-right" dark>Add Discount</v-btn>
                                  <v-btn v-else :disabled="true" outlined color="indigo">Add Discount</v-btn>
                              </v-col>
                            </v-row>
                          </template>
                          <template v-if="item === 'Discount By Percentage'">
                            <v-row>
                                <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                  Enter %ge
                                </v-col>
                                <v-col cols="12" xs="12" sm="6" md="9">
                                    <v-text-field counter dense maxlength="3" @keyup="computePercentageDiscount" v-model="discountPercentage" label="%ge Discount" :persistent-hint="true" hint="Maximum value must be 100" outlined></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                Reason
                              </v-col>
                              <v-col cols="12" xs="12" sm="6" md="9">
                                  <v-text-field dense v-model="reasonforPercentageDiscount" label="Reason" hint="Reason For The Discount" outlined></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" xs="12" sm="6" md="6" class="green--text text-left">
                                <p>Final Amount {{ formatNumber(finalAmount) }} &nbsp; Discount {{ formatNumber(discountPercentageAmount) }}</p>
                              </v-col>
                              <v-col cols="12" xs="12" sm="6" md="6">
                                  <v-btn v-if="reasonforPercentageDiscount.length >1 && discountPercentage.length >0"
                                  @click="addPercentageDiscountAmount"
                                  class="blue darken-3 float-right" dark>Add Discount</v-btn>
                                  <v-btn v-else :disabled="true" outlined color="indigo">Add Discount</v-btn>
                              </v-col>
                            </v-row>
                          </template>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                </div>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>
<script>
import ComputedMethodsMixin from '@/mixins/computations'
import validator from 'validator'
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'

export default {
  name: 'BillDiscountModal',

  props: {
    orderItems: {
      type: Array
    },
    order: {
      type: Object
    },
    discounts: {
      type: Array
    }
  },

  mixins: [
    ComputedMethodsMixin
  ],

  data () {
    return {
      dialog: true,
      totalAmount: 0,
      discountOptions: ['Discount By Amount', 'Discount By Percentage'],
      discountAmountOptions: { min: 1, max: this.totalAmount },
      discountAmount: '',
      reasonforDiscountAmount: '',
      finalAmount: '',
      discountPercentage: '',
      reasonforPercentageDiscount: '',
      discountPercentageAmount: '',
      discountRecord: -1
    }
  },

  created () {
    let billAmount = 0
    this.orderItems.forEach((orderItem) => {
      billAmount += orderItem.amount
    })
    this.totalAmount = billAmount
    this.discountAdded()
  },

  computed: {
    ...mapGetters('auth', ['profile'])
  },

  methods: {
    ...mapActions('order', ['settleBill', 'deletePayment']),
    ...mapActions('auth', ['setError']),

    deleteDiscount (discountId) {
      if (discountId && discountId.length > 2) {
        const ask = confirm('Are you sure you want to delete discount?')
        if (ask) { this.deletePayment(discountId); this.discountRecord = -1 }
      }
    },

    discountAdded () {
      const index = this.discounts.findIndex((discount) => { return discount.order === this.order.id })
      this.discountRecord = index
    },

    closeDialog () {
      this.$emit('close-discount-modal')
    },
    checkDiscountAmount () {
      this.finalAmount = this.totalAmount - parseFloat(this.discountAmount)
    },
    addDiscountAmount () {
      if (!validator.isFloat(this.discountAmount, { min: 0.1, max: this.totalAmount })) {
        this.setError('Sorry, Discount amount should be 0.1 to ' + this.totalAmount)
      } else if (this.reasonforDiscountAmount.length < 1) {
        this.setError('Please Add Reason For Discount!!')
      } else {
        const date = moment.utc().format()
        const local = moment.utc(date).local().format('HH:mm:ss')
        const discountPayment = {
          amount: parseFloat(this.discountAmount),
          client: this.order.client,
          company: this.profile.company,
          date: this.order.date,
          order: this.order.id,
          payment: '88',
          reason: this.reasonforDiscountAmount.toUpperCase(),
          settledby: this.profile.id,
          time: local
        }
        this.settleBill(discountPayment)
        this.$emit('close-discount-modal')
      }
    },
    computePercentageDiscount () {
      this.finalAmount = parseFloat(this.totalAmount) - Math.round((parseFloat(this.discountPercentage) / 100) * this.totalAmount, 2)
      this.discountPercentageAmount = Math.round((parseFloat(this.discountPercentage) / 100) * this.totalAmount, 2)
    },
    async addPercentageDiscountAmount () {
      if (!validator.isFloat(this.discountPercentage, { min: 1, max: 100 })) {
        this.setError('Sorry, Discount percentage should be between 1 and 100')
      } else if (this.reasonforPercentageDiscount.length < 1) {
        this.setError('Please add reason for discount')
      } else {
        const discountPayment = {
          amount: parseFloat(this.discountPercentageAmount),
          client: this.order.client,
          company: this.profile.company,
          date: this.order.date,
          order: this.order.id,
          payment: '88',
          reason: this.reasonforPercentageDiscount.toUpperCase(),
          settledby: this.profile.id
        }
        await this.settleBill(discountPayment)
        this.$emit('close-discount-modal')
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../styles/style.scss';
  .bar {
    background-color: $blue!important;
  }
</style>
