<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog" max-width="500">
      <v-card>
        <v-toolbar dense class="optionsDialog">
            <v-toolbar-title>Create New Employee</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" icon class="black--text"
                    @click="closeDialog">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </template>
                <span>Close</span>
            </v-tooltip>
        </v-toolbar>
        <v-card-text class="pt-3">
            <v-text-field v-model.trim="firstname" label="Firstname"></v-text-field>
            <v-text-field v-model.trim="lastname" label="Lastname"></v-text-field>
            <v-text-field v-model.trim="email" label="Email Address"></v-text-field>
            <v-select :items="outlets"
                item-text='name'
                item-value='id' label="Outlet" v-model.trim="outlet"></v-select>
            <v-select :items="roles"
                item-text='role'
                item-value='id' label="User Role" v-model.trim="role"></v-select>
            <v-btn v-if="saveOutlet" @click="createNewEmployee" class="blue darken-3" dark block>SAVE</v-btn>
            <v-btn v-else depressed block disabled>SAVE</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import validator from 'validator'

export default {
  name: 'CreateEmployeeModal',
  data () {
    return {
      dialog: true,
      firstname: '',
      lastname: '',
      outlet: '',
      email: '',
      saveOutlet: false,
      role: ''
    }
  },

  watch: {
    firstname (newVal) {
      this.checkAllFields()
    },
    lastname (newVal) {
      this.checkAllFields()
    },
    outlet (newVal) {
      this.checkAllFields()
    },
    email (newVal) {
      this.checkAllFields()
    },
    role (newVal) {
      this.checkAllFields()
    }
  },

  computed: {
    ...mapGetters('auth', ['profile']),
    ...mapGetters('sections', ['outlets']),
    ...mapGetters('manage', ['roles'])
  },

  methods: {
    ...mapActions('manage', ['createEmployee']),

    closeDialog () {
      this.$emit('close')
    },
    checkAllFields () {
      if (this.firstname.length > 3 && this.lastname.length > 3 && this.outlet.length > 9 && validator.isEmail(this.email) &&
      (this.role.length >= 1 || (this.outlet.length === 0 && this.role === 1))) {
        this.saveOutlet = true
      } else {
        this.saveOutlet = false
      }
    },
    createNewEmployee () {
      const newEmployee = {
        company: this.profile.company,
        email: this.email,
        name: this.firstname.toUpperCase().concat(' ' + this.lastname.toUpperCase()),
        outlet: this.outlet,
        role: parseInt(this.role),
        status: true
      }
      this.createEmployee(newEmployee)
      this.$emit('close')
    }
  }
}
</script>
<style scoped lang="scss">
  @import '../../styles/style.scss';

  .option {
      color: $black!important;
  }

  .optionsDialog {
      background-color: $white!important;
      color: $black!important;
  }

</style>
