<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog" max-width="500">
      <v-card class="optionsDialog">
        <v-toolbar dense>
            <v-toolbar-title>Create New Outlet</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" icon class="black--text"
                    @click="closeDialog">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </template>
                <span>Close</span>
            </v-tooltip>
        </v-toolbar>
        <v-card-text class="pt-3">
            <v-text-field v-model.trim="name" hint="Outlet name must be atleast 3 characters long" label="Outlet Name"></v-text-field>
            <v-text-field v-model.trim="address" hint="address must be atleast 3 characters long" label="Address"></v-text-field>
            <v-text-field v-model.trim="contact" hint="Contact must be atleast 9 characters long" label="Contact"></v-text-field>
            <v-btn v-if="saveOutlet" @click="createOutlet" class="blue darken-3" dark block>SAVE</v-btn>
            <v-btn v-else depressed block disabled>SAVE</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'OutletModal',
  data () {
    return {
      dialog: true,
      name: '',
      address: '',
      contact: '',
      saveOutlet: false
    }
  },

  watch: {
    name (newVal) {
      this.checkAllFields()
    },
    address (newVal) {
      this.checkAllFields()
    },
    contact (newVal) {
      this.checkAllFields()
    }
  },

  computed: {
    ...mapGetters('auth', ['profile'])
  },

  methods: {
    ...mapActions('sections', ['createNewOutlet']),

    closeDialog () {
      this.$emit('close')
    },
    checkAllFields () {
      if (this.name.length > 3 && this.address.length > 3 && this.contact.length > 9) {
        this.saveOutlet = true
      } else {
        this.saveOutlet = false
      }
    },
    createOutlet () {
      const outlet = {
        name: this.name.toUpperCase(),
        address: this.address.toUpperCase(),
        contact: this.contact,
        company: this.profile.company
      }
      this.createNewOutlet(outlet)
      this.$emit('close')
    }
  }
}
</script>
<style scoped lang="scss">
  @import '../../styles/style.scss';

  .option {
      color: $black!important;
  }

  .optionsDialog {
      background-color: $white!important;
      color: $black!important;
  }

</style>
