<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" class="takeAway" persistent max-width="600px">
      <v-card>
        <v-progress-linear v-if="loading" indeterminate color="black darken-2"></v-progress-linear>
        <v-card-title>
          <h1 class="headline">
            New Order
          </h1>
          <v-spacer></v-spacer>
            <v-btn @click="closeDialog" icon class="red--text"><v-icon>mdi-close</v-icon></v-btn>
        </v-card-title>
            <v-tabs v-model="tab" background-color="white" light>
            <v-tab v-for="item in items" :key="item.tab">
                {{ item.tab }}
            </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
            <v-tab-item v-for="item in items" :key="item.tab">
                <v-card flat min-height="300">
                  <template v-if="item.tab =='Search For A Client'">
                        <v-card flat class="font-weight-light">
                        <v-card-title>
                        <v-text-field v-model="clientSearch" prepend-icon="mdi-magnify" dense
                        oneline hint="Select Client To Create Order" label="Search..." />
                        </v-card-title>
                        <v-card-text class="clientList">
                          <!-- Clients Card List -->
                          <ClientCardView @create-client-order="createTakeAwayOrder" :clients="clientList" />
                        </v-card-text>
                    </v-card>
                  </template>
                  <template v-else>
                   <v-card-text>
                    <NewClientForm @close="$emit('close-takeaway-dialog')" :outlet="outlet" v-if="outlet"/>
                   </v-card-text>
                  </template>
                </v-card>
            </v-tab-item>
            </v-tabs-items>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import NewClientForm from '@/components/Order/NewClientForm.vue'
import ClientCardView from '@/components/_Generics/manage/clientCard.vue'
import { mapGetters, mapActions } from 'vuex'
import moment from 'moment'
moment.defaultFormat = 'DD.MM.YYYY HH:mm'

export default {
  name: 'TakeAwayDialog',

  props: {
    outlet: {
      type: Object,
      required: true
    }
  },

  components: {
    NewClientForm,
    ClientCardView
  },

  data: () => ({
    dialog: true,
    tab: null,
    clientSearch: '',
    items: [
      { tab: 'Search For A Client', content: 'Tab 1 Content' },
      { tab: 'New Client', content: 'Tab 2 Content' }
    ],
    loading: false
  }),

  computed: {
    ...mapGetters('order', ['clients']),
    ...mapGetters('auth', ['profile']),

    clientList () {
      return this.clients.filter(client => { return client.firstname.match(this.clientSearch.toUpperCase()) })
    }
  },

  methods: {
    ...mapActions('order', ['createOrder']),

    closeDialog () {
      this.$emit('close-takeaway-dialog')
    },

    createTakeAwayOrder (clientId) {
      const date = moment.utc().format()
      const local = moment.utc(date).local().format('HH:mm:ss')
      const newOrder = {
        company: this.profile.company,
        createdby: this.profile.id,
        outlet: this.profile.outlet,
        client: clientId,
        date: this.outlet.day_open,
        time: local,
        settlement: 0,
        status: 0,
        table: 'T-Away'
      }
      this.createOrder(newOrder)
      this.$emit('close-takeaway-dialog')
    }

  }

}
</script>
<style scoped>
    .float-right {
      float: right;
    }
    .clientList {
      max-height: 300px!important;
      min-height: 300px!important;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: #ecebeb!important;
    }
    .takeAway {
      overflow-y: hidden;
    }
</style>
