<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog" max-width="100%">
      <v-card class="optionsDialog">
        <v-container fluid>
            <v-row>
                <v-col class="text-center" cols="12" xs="6" sm="3" md="3" lg="3" xl="3">
                    <v-btn :to="{ name: 'admin-dashboard' }" @click="closeDialog" class="ma-2 option" outlined fab>
                        <v-icon>mdi-chart-areaspline</v-icon>
                    </v-btn>
                    <p>Dashboard</p>
                </v-col>
                <v-col class="text-center" @click="closeDay" cols="12" xs="6" sm="3" md="3" lg="3" xl="3">
                    <v-btn class="ma-2 option" outlined fab>
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <p>Close Day</p>
                </v-col>
                <v-col class="text-center" cols="12" xs="6" sm="3" md="3" lg="3" xl="3">
                    <v-btn class="ma-2 option" @click="$emit('sales')" outlined fab>
                        <v-icon>mdi-cart</v-icon>
                    </v-btn>
                    <p>View sales</p>
                </v-col>
                <v-col class="text-center" cols="12" xs="6" sm="3" md="3" lg="3" xl="3">
                    <v-btn class="ma-2 option" @click="closeDialog" outlined fab>
                        <v-icon>mdi-email-send</v-icon>
                    </v-btn>
                    <p>Send Email</p>
                </v-col>
            </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'OptionsModal',
  data () {
    return {
      dialog: true
    }
  },

  computed: {
    ...mapGetters('sections', ['outlets']),
    ...mapGetters('auth', ['profile'])
  },

  methods: {
    ...mapActions('sections', ['closeCompanyDay']),

    closeDay () {
      this.$emit('openday')
    },

    closeDialog () {
      this.$emit('close')
    }
  }
}
</script>
<style scoped lang="scss">
  @import '../../styles/style.scss';

  .option {
      color: $white!important;
  }

  .optionsDialog {
      background-color: $purple!important;
      color: $white!important;
  }

</style>
