<template>
    <v-dialog persistent v-model="dialog" width="500">
         <v-card class="blue lighten-5">
            <v-card-title class="headline blue darken-3 white--text font-weight-light">
                SETTLE ORDER
                <v-spacer></v-spacer>
                <v-btn icon small class="white--text" @click="closeDialog"><v-icon>mdi-close</v-icon></v-btn>
            </v-card-title>
            <v-card-text class="text-center">
                <div class="mt-3">
                    <p class="display-1 black--text">BILL SUM: {{ formatNumber(totalAmount) }}</p>
                </div>
                <hr class="blue lighten-4">
                <div class="changeSection">
                    <v-row>
                        <v-col cols="12" xs="12" sm="6" md="6">
                            <v-text-field @keyup="calculateClientChange" v-model="amountPaid" label="Amount Paid"></v-text-field>
                        </v-col>
                        <v-col cols="12" xs="12" sm="6" md="6">
                            <v-text-field v-model="clientChange" disabled label="Change"></v-text-field>
                        </v-col>
                    </v-row>
                    <v-tabs centered v-model="tab" class="tabs-style" background-color="transparent" light>
                      <v-tab v-for="item in settlementOptions" :key="item.tab">
                        {{ item.tab }}
                      </v-tab>
                      <v-tabs-items class="mtabItems" v-model="tab">
                        <v-tab-item v-for="item in settlementOptions" :key="item.tab">
                          <template flat v-if="item.tab === 'Direct Payment'">
                            <template class="msettlement">
                              <v-row>
                                <template v-if="selectedSettlementId !== companySettlementId">
                                  <v-col cols="12" xs="12" sm="12" md="12">
                                      <v-select
                                      v-model="selectedSettlementId"
                                      :items="paymentTypes" item-value="id" item-text="settlement"
                                      label="Select Payment Type" solo></v-select>
                                  </v-col>
                                </template>
                                <template v-else>
                                  <v-col cols="12" xs="12" sm="6" md="6">
                                      <v-select
                                      v-model="selectedSettlementId"
                                      :items="paymentTypes" item-value="id" item-text="settlement"
                                      label="Payment Type" solo></v-select>
                                  </v-col>
                                  <v-col cols="12" xs="12" sm="6" md="6">
                                          <v-select
                                          v-model="selectedClientId"
                                          :items="clients" item-value="id" item-text="firstname"
                                          label="Select Company" solo></v-select>
                                          <small v-if="selectedClientId.length > 1">
                                              {{ selectedClientDetails.firstname }}
                                              {{ selectedClientDetails.lastname }}
                                              {{ selectedClientDetails.address }}
                                          </small>
                                  </v-col>
                                </template>
                              </v-row>
                              <v-row v-if="selectedSettlementId === ncSettlementId || selectedSettlementId === pendingSettlementId || selectedSettlementId === cancelled">
                                  <v-col cols="12" xs="12" sm="12" md="12">
                                      <v-textarea
                                        outlined height="100" color="blue lighten-2"
                                        label="Please Add Reason"
                                        v-model="settlementReason"
                                      ></v-textarea>
                                  </v-col>
                              </v-row>
                              <v-row>
                                  <v-col cols="12" xs="12" sm="12" md="12">
                                      <v-btn @click="settleOrder" block dark class="blue">SETTLE BILL</v-btn>
                                  </v-col>
                              </v-row>
                            </template>
                          </template>
                          <template v-else>
                            <v-text-field v-model="splitCash" label="Cash"></v-text-field>
                            <v-text-field v-model="splitVisa" label="Visa"></v-text-field>
                            <v-text-field v-model="splitMobileMoney" label="Mobile Money"></v-text-field>
                            <v-btn block v-if="allowSplitSettle" @click="saveSplitSettlement" dark class="blue darken-4">SETTLE BILL</v-btn>
                            <v-btn block v-else dark class="blue lighten-2">SETTLE BILL</v-btn>
                          </template>
                        </v-tab-item>
                      </v-tabs-items>
                    </v-tabs>
                </div>
            </v-card-text>
         </v-card>
    </v-dialog>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import moment from 'moment'

export default {
  name: 'OrderSettlementModal',

  props: {
    orderItems: {
      type: Array
    },
    order: {
      type: Object,
      required: true
    },
    discounts: {
      type: Array
    },
    outlet: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      tab: null,
      settlementOptions: [{ tab: 'Direct Payment' }, { tab: 'Split Payment' }],
      dialog: true,
      totalAmount: 0,
      amountPaid: '',
      clientChange: '',
      selectedSettlementId: '',
      companySettlementId: 'vI9k0tf3lHW4MLW6R4KQ',
      ncSettlementId: 'JoV1QRN2aEVbOvEs7zVN',
      pendingSettlementId: 'ZgrEU1yAuR8J9GEcgJJg',
      cancelled: 'RT5CwLPOzFfEP7RzpUV4',
      cashPaymentId: '4rTtwVYMsv6j2NGOTd39',
      visaPaymentId: 'r8BNbDNg9C4lDlPkGKpp',
      mobileMoneyPayment: 'JcsxfvavwNFOS1fsWPnB',
      selectedClientId: '',
      settlementReason: '',
      allowSettlement: false,
      splitCash: '',
      splitMobileMoney: '',
      splitVisa: '',
      allowSplitSettle: false,
      orderDiscount: -1
    }
  },

  watch: {
    selectedSettlementId (selected) {
      if (selected !== this.companySettlementId) this.selectedClientId = ''
    },

    splitCash (val) {
      this.checkSplitPayment()
    },

    splitMobileMoney (val) {
      this.checkSplitPayment()
    },

    splitVisa (val) {
      this.checkSplitPayment()
    }

  },

  created () {
    if (!this.order) this.$emit('close-settlement-dialog')
    this.selectedSettlementId = ''
    this.selectedClientId = ''
    this.totalAmount = 0
    this.orderItems.forEach((menuItem) => {
      this.totalAmount += parseFloat(menuItem.amount)
    })
    this.discountAdded()
  },

  computed: {
    ...mapGetters('order', ['paymentTypes', 'clients']),
    ...mapGetters('auth', ['profile']),

    selectedClientDetails () {
      return this.clients.find((client) => {
        return client.id.match(this.selectedClientId)
      })
    }
  },

  methods: {
    ...mapActions('auth', ['setError']),
    ...mapActions('order', ['settleBill', 'splitSettlement']),

    discountAdded () {
      const index = this.discounts.findIndex((Discount) => { return Discount.order === this.order.id })
      this.orderDiscount = index
      if (index >= 0) {
        this.totalAmount = parseFloat(this.totalAmount - this.discounts[index].amount)
      }
    },

    async saveSplitSettlement () {
      const totalAmount = this.totalAmount
      let cash, Mobile, visa
      if (isNaN(this.splitCash) || this.splitCash.length <= 0) {
        cash = 0
      } else {
        cash = parseFloat(this.splitCash)
      }
      if (isNaN(this.splitMobileMoney) || this.splitMobileMoney.length <= 0) {
        Mobile = 0
      } else {
        Mobile = parseFloat(this.splitMobileMoney)
      }
      if (isNaN(this.splitVisa) || this.splitVisa.length <= 0) {
        visa = 0
      } else {
        visa = parseFloat(this.splitVisa)
      }
      const checkSplit = totalAmount - (cash + Mobile + visa)
      if (checkSplit === 0) {
        const date = moment.utc().format()
        const local = moment.utc(date).local().format('HH:mm:ss')
        const settlement = {
          payments: [
            { amount: cash, id: this.cashPaymentId },
            { amount: visa, id: this.visaPaymentId },
            { amount: Mobile, id: this.mobileMoneyPayment }
          ],
          amount: parseFloat(this.totalAmount),
          client: this.selectedClientId,
          order: this.order.id,
          date: this.order.date,
          settledby: this.profile.id,
          outlet: this.profile.outlet,
          company: this.profile.company,
          reason: this.settlementReason,
          time: local
        }
        await this.splitSettlement(settlement)
        this.$emit('close-settlement-dialog', true)
      }
    },

    checkSplitPayment () {
      const totalAmount = this.totalAmount
      let cash, Mobile, visa
      if (isNaN(this.splitCash) || this.splitCash.length <= 0) {
        cash = 0
      } else {
        cash = parseFloat(this.splitCash)
      }
      if (isNaN(this.splitMobileMoney) || this.splitMobileMoney.length <= 0) {
        Mobile = 0
      } else {
        Mobile = parseFloat(this.splitMobileMoney)
      }
      if (isNaN(this.splitVisa) || this.splitVisa.length <= 0) {
        visa = 0
      } else {
        visa = parseFloat(this.splitVisa)
      }
      const checkSplit = totalAmount - (cash + Mobile + visa)
      if (checkSplit === 0) this.allowSplitSettle = true; else this.allowSplitSettle = false
    },

    async settleOrder () {
      const selectedOption = this.selectedSettlementId
      if (selectedOption === this.companySettlementId && this.selectedClientId.length < 2) {
        this.setError('Please select a client')
      } else if (selectedOption === this.ncSettlementId && this.settlementReason.length < 2) {
        this.setError('Please add a reason')
      } else if (selectedOption === this.pendingSettlementId && this.settlementReason.length < 2) {
        this.setError('Please add a reason')
      } else if (selectedOption === this.cancelled && this.settlementReason.length < 2) {
        this.setError('Please add a reason')
      } else if (selectedOption.length < 3) {
        this.setError('Please select mode of payment')
      } else {
        const date = moment.utc().format()
        const local = moment.utc(date).local().format('HH:mm:ss')
        const settlement = {
          payment: this.selectedSettlementId,
          amount: parseFloat(this.totalAmount),
          client: this.selectedClientId,
          outlet: this.profile.outlet,
          order: this.order.id,
          date: this.order.date,
          settledby: this.profile.id,
          company: this.profile.company,
          reason: this.settlementReason,
          time: local
        }
        await this.settleBill(settlement)
        this.$emit('pop-order', this.order.id)
        this.$emit('close-settlement-dialog', true)
      }
    },

    closeDialog () {
      this.$emit('close-settlement-dialog', false)
    },

    formatNumber (amount, decimalCount = 2, decimal = '.', thousands = ',') {
      return Number((amount).toFixed(1)).toLocaleString()
    },

    calculateClientChange () {
      this.clientChange = this.formatNumber(this.amountPaid - this.totalAmount)
    }

  }

}
</script>
<style scoped>
  .tabs-style {
    color: black;
  }
  .msettlement {
    padding: 10px!important;
  }
  .mtabItems {
    background-color: transparent!important;
  }
</style>
