<template>
  <div class="text-center">
    <v-dialog persistent v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline blue darken-3 white--text font-weight-light" primary-title>
          Open Day {{ datePicked }}
        </v-card-title>
        <v-card-text>
            <template v-if="pendingOrders.length > 4">
                <h3>Please Settle all pending orders</h3>
            </template>
            <template v-else>
                <InlineDatePicker class="ma-3" :message="'Select Date'" @picked="setSelectedDate" />
            </template>
        </v-card-text>
        <v-card-actions>
          <v-btn text @click="$emit('close')">
            Cancel
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn v-if="datePicked" dark color="blue darken-3" @click="openDay">
            Open day
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import InlineDatePicker from '@/components/pickers/datepicker-inline.vue'

export default {
  name: 'SelectDayModal',

  components: {
    InlineDatePicker
  },

  data () {
    return {
      dialog: true,
      datePicked: null
    }
  },

  computed: {
    ...mapGetters('order', ['pendingOrders'])
  },

  methods: {
    setSelectedDate (picked) {
      this.datePicked = picked
    },

    openDay () {
      this.$emit('open', this.datePicked)
    }
  }

}
</script>
