<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog" max-width="500">
      <v-card class="optionsDialog">
        <v-toolbar dense>
            <v-toolbar-title>{{ name }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" icon class="black--text"
                    @click="closeDialog">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </template>
                <span>Close</span>
            </v-tooltip>
        </v-toolbar>
        <v-card-text class="pt-3">
            <v-text-field v-model.trim="name" label="Full Name"></v-text-field>
            <v-select :items="outlets"
                item-text='name'
                item-value='id' label="Outlet" v-model.trim="outlet"></v-select>
            <v-select :items="roles"
                item-text='role'
                item-value='id' label="Role" v-model.trim="role"></v-select>
            <v-btn v-if="saveOutlet" @click="updateUser" class="blue darken-3" dark block>SAVE</v-btn>
            <v-btn v-else depressed block disabled>SAVE</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'UpdateUserModal',
  props: {
    employee: {
      type: Object
    }
  },
  data () {
    return {
      dialog: true,
      name: '',
      outlet: '',
      saveOutlet: false
    }
  },

  created () {
    if (this.employee) {
      this.name = this.employee.name; this.outlet = this.employee.outlet; this.role = String(this.employee.role)
    } else { this.$emit('close') }
  },

  watch: {
    name (newVal) {
      this.checkAllFields()
    },
    address (newVal) {
      this.checkAllFields()
    },
    contact (newVal) {
      this.checkAllFields()
    }
  },

  computed: {
    ...mapGetters('auth', ['profile']),
    ...mapGetters('sections', ['outlets']),
    ...mapGetters('manage', ['roles'])
  },

  methods: {
    ...mapActions('manage', ['updateEmployeeInfo']),

    closeDialog () {
      this.$emit('close')
    },
    checkAllFields () {
      if (this.name.length > 3 && this.outlet.length > 3) {
        this.saveOutlet = true
      } else {
        this.saveOutlet = false
      }
    },
    updateUser () {
      const userUpdate = {
        name: this.name.toUpperCase(),
        outlet: this.outlet,
        role: parseInt(this.role)
      }
      this.updateEmployeeInfo({ update: userUpdate, id: this.employee.id })
      this.$emit('close')
    }
  }
}
</script>
<style scoped lang="scss">
  @import '../../styles/style.scss';

  .option {
      color: $black!important;
  }

  .optionsDialog {
      background-color: $white!important;
      color: $black!important;
  }

</style>
