<template>
  <div class="text-center">
    <v-dialog persistent v-model="dialog" width="500">
      <v-card v-if="orderItem">
        <v-card-title class="headline blue darken-3 white--text font-weight-light">
          {{ orderItem.name }}
          <v-spacer></v-spacer>
          <v-btn icon small class="white--text" @click="closeDialog"><v-icon>mdi-close</v-icon></v-btn>
        </v-card-title>
        <v-tabs dense v-model="tab" background-color="white" color="blue darken-3" grow>
          <v-tab v-for="item in items" :key="item" >
            {{ item }}
          </v-tab>
          <v-tabs-items v-model="tab">
            <v-tab-item v-for="item in items" :key="item">
              <v-card color="white" flat>
                <v-card-text flat>
                  <template v-if="item === 'Quantity'">
                    <v-container class="font-weight-light black--text">
                        <v-row>
                            <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                Unit Price
                            </v-col>
                            <v-col cols="12" xs="12" sm="6" md="9">
                                <v-text-field dense disabled v-model="unitprice" label="Unit Price" hint="Price Per Item" outlined></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                Quantity
                            </v-col>
                            <v-col cols="12" xs="12" sm="6" md="9">
                                <v-text-field dense @keyup="computeTotal" @change="computeTotal" v-model="quantity" label="Quantity" hint="Number Of Items" outlined></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                Amount
                            </v-col>
                            <v-col cols="12" xs="12" sm="6" md="9">
                                <v-text-field dense disabled v-model="amount" label="Amount" hint="Item Cost" outlined></v-text-field>
                            </v-col>
                        </v-row>
                        <v-card-text>
                        <v-spacer></v-spacer>
                        <v-row>
                          <v-col xs="12" offset-sm="12" sm="12" class="text-right">
                            <v-btn small class="red darken-3 mr-1" dark text @click="deleteItem">
                              Delete Item
                            </v-btn>
                            <v-btn small class="blue darken-3" dark text @click="saveQuantity">
                              Save Update
                            </v-btn>
                          </v-col>
                        </v-row>
                        </v-card-text>
                    </v-container>
                  </template>
                  <template v-else>
                    <v-expansion-panels>
                      <v-expansion-panel class="font-weight-light" v-for="(item,i) in discountOptions" :key="i">
                        <v-expansion-panel-header>{{ item }}</v-expansion-panel-header>
                        <v-expansion-panel-content class="font-weight-light">
                          <template v-if="item === 'Discount By Amount'">
                            <v-row>
                              <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                Enter Amount
                              </v-col>
                              <v-col cols="12" xs="12" sm="6" md="9">
                                  <v-text-field dense @keyup="checkDiscountAmount" v-model="discountAmount" label="Amount" :persistent-hint="true" :hint="'Amount Should Be Less Than ' + orderItem.amount " outlined></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                Reason
                              </v-col>
                              <v-col cols="12" xs="12" sm="6" md="9">
                                  <v-text-field dense v-model="reasonforDiscountAmount" label="Reason" persistent-hint="Reason For The Discount" outlined></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" xs="12" sm="6" md="6" class="green--text text-left">
                                <p>Final Amount {{ finalAmount }}</p>
                              </v-col>
                              <v-col cols="12" xs="12" sm="6" md="6">
                                  <v-btn
                                  v-if="reasonforDiscountAmount.length > 1
                                  && discountAmount <= orderItem.amount"
                                  @click="addDiscountAmount"
                                  class="blue darken-3 float-right" dark>Add Discount</v-btn>
                              </v-col>
                            </v-row>
                          </template>
                          <template v-if="item === 'Discount By Percentage'">
                            <v-row>
                                <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                  Enter %ge
                                </v-col>
                                <v-col cols="12" xs="12" sm="6" md="9">
                                    <v-text-field counter dense maxlength="3" @keyup="computePercentageDiscount" v-model="discountPercentage" label="%ge Discount" :persistent-hint="true" hint="Maximum value must be 100" outlined></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" xs="12" sm="6" md="3" class="text-right">
                                Reason
                              </v-col>
                              <v-col cols="12" xs="12" sm="6" md="9">
                                  <v-text-field dense v-model="reasonforPercentageDiscount" label="Reason" hint="Reason For The Discount" outlined></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" xs="12" sm="6" md="6" class="green--text text-left">
                                <p>Final Amount {{ finalAmount }}</p>
                              </v-col>
                              <v-col cols="12" xs="12" sm="6" md="6">
                                  <v-btn
                                  v-if="reasonforPercentageDiscount.length > 1
                                  && discountPercentage > 0"
                                  @click="addPercentageDiscountAmount"
                                  class="blue darken-3 float-right" dark>Add Discount</v-btn>
                              </v-col>
                            </v-row>
                          </template>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                  </template>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import validator from 'validator'

export default {
  name: 'AddQuantityModal',

  props: {
    orderItem: {
      type: Object
    }
  },

  data () {
    return {
      dialog: true,
      quantity: 1,
      amount: 0,
      unitprice: 0,
      items: ['Quantity', 'Add Discount'],
      discountOptions: ['Discount By Amount', 'Discount By Percentage'],
      tab: null,
      discountAmount: '',
      reasonforDiscountAmount: '',
      finalAmount: 0,
      discountAmountOptions: { min: 1, max: this.orderItem.amount },
      discountPercentage: 0,
      reasonforPercentageDiscount: '',
      percentagediscountOptions: { min: 1, max: 100 },
      discountPercentageAmount: 0
    }
  },

  created () {
    this.quantity = this.orderItem.quantity
    this.unitprice = this.orderItem.unitprice
    this.amount = this.orderItem.amount
    this.finalAmount = this.orderItem.amount
  },

  computed: {
    ...mapGetters('auth', ['profile']),

    companyProfile () {
      return this.profile
    }
  },

  methods: {
    ...mapActions('order', ['updateOrderItem', 'deleteOrderItem', 'addItemDiscount']),
    ...mapActions('auth', ['setError']),

    async addPercentageDiscountAmount () {
      if (!validator.isFloat(this.discountPercentage, this.percentagediscountOptions)) {
        this.setError('Please Check Percentage Discount Entered')
      } else if (this.reasonforPercentageDiscount.length < 1) {
        this.setError('Please Add Reason For Discount!!')
      } else {
        const discountAmount = {
          company: this.companyProfile.company,
          recordId: this.orderItem.id,
          orderId: this.orderItem.order,
          amount: parseFloat(this.discountPercentageAmount),
          finalamount: parseFloat(this.finalAmount),
          discounttype: 'PERCENTAGE DISCOUNT',
          addedby: this.companyProfile.id,
          menuitem: this.orderItem.menuitem,
          date: this.orderItem.date,
          reason: this.reasonforPercentageDiscount.toUpperCase()
        }
        await this.addItemDiscount(discountAmount)
        this.$emit('close-update')
      }
    },

    async addDiscountAmount () {
      if (!validator.isFloat(this.discountAmount, this.discountAmountOptions)) {
        this.setError('Please Check Discount Amount Entered')
      } else if (this.reasonforDiscountAmount.length < 1) {
        this.setError('Please add reason for discount')
      } else {
        const discountAmount = {
          company: this.companyProfile.company,
          recordId: this.orderItem.id,
          orderId: this.orderItem.order,
          amount: parseFloat(this.discountAmount),
          finalamount: parseFloat(this.finalAmount),
          discounttype: 'DISCOUNT BY AMOUNT',
          addedby: this.companyProfile.id,
          menuitem: this.orderItem.menuitem,
          date: this.orderItem.date,
          reason: this.reasonforDiscountAmount.toUpperCase()
        }
        await this.addItemDiscount(discountAmount)
        this.$emit('close-update')
      }
    },

    computePercentageDiscount () {
      this.finalAmount = parseFloat(this.orderItem.amount) - Math.round((parseFloat(this.discountPercentage) / 100) * this.orderItem.amount, 2)
      this.discountPercentageAmount = Math.round((parseFloat(this.discountPercentage) / 100) * this.orderItem.amount, 2)
    },

    checkDiscountAmount () {
      this.finalAmount = this.orderItem.amount - parseFloat(this.discountAmount)
    },

    closeDialog () {
      this.$emit('close-update')
    },

    computeTotal () {
      this.amount = parseFloat(this.quantity * this.unitprice)
    },

    async saveQuantity () {
      const itemQuatity = {
        id: this.orderItem.id,
        unitprice: this.unitprice,
        quantity: parseFloat(this.quantity),
        amount: this.amount
      }
      if (this.quantity !== this.orderItem.quantity) {
        await this.updateOrderItem(itemQuatity)
        this.$emit('close-update')
      } else {
        const ask = confirm('No Changes Detected. Would you like to cancel update?')
        if (ask) this.$emit('close-update')
      }
    },

    async deleteItem () {
      const askUser = confirm('Are you sure you want to delete ' + this.orderItem.name + '?')
      if (askUser) await this.deleteOrderItem(this.orderItem); this.$emit('close-update')
    }
  }

}
</script>
