<template>
<div>
    <v-card
    :class="{'pending': !isPaid(order.settlement)}"
    class="mx-auto pa-1 ma-1" v-for="order in orders" :key="order.id">
        <div class="order-head font-weight-light">
            <div class="order-number">
                <div class="display-1">#{{ order.bill }}</div>
            </div>
            <div class="order-amount">
               <div class="display-1"> {{ orderTotal(order.id) }}</div>
            </div>
        </div>
        <hr class="grey lighten-5 mt-3 mb-3">
        <div>
            <p>Client Name: {{ clientName(order.client).firstname }}</p>
            <p>Createdby: {{ order.createdby }}</p>
            <p>{{ order.date }} {{ order.time }}</p>
            <p>Payment: {{ paymentMode(order.settlement) }}
                <span class="float-right">
                    <v-btn small>View Bill</v-btn>
                </span>
            </p>
        </div>
    </v-card>
</div>
</template>
<script>
import { mapGetters } from 'vuex'
import ComputedMethodsMixin from '@/mixins/computations'

export default {
  name: 'OrderCard',

  mixins: [
    ComputedMethodsMixin
  ],

  props: {
    orders: {
      type: Array
    }
  },

  computed: {
    ...mapGetters('order', [
      'clients',
      'orderItems',
      'paymentTypes'
    ])
  },

  methods: {
    paymentMode (paymentId) {
      if (paymentId === 0) return 'Pending'
      else return this.paymentTypes.find((payment) => { return payment.id === paymentId }).settlement
    },

    isPaid (paymentId) {
      if (paymentId === 0) return false
      else return true
    },

    clientName (clientId) {
      let client
      if (clientId === 'none') {
        client = { firstname: 'None' }
      } else {
        client = this.clients.find((Client) => { return Client.id === clientId })
      }
      return client
    },

    orderItems (orderId) {
      const Items = this.orderItems.filter((item) => { return item.order.match(orderId) })
      return Items
    },

    orderTotal (orderId) {
      const Items = this.orderItems.filter((item) => { return item.order.match(orderId) })
      let orderTotal = 0
      Items.forEach(item => {
        orderTotal += parseFloat(item.amount)
      })
      return this.formatNumber(orderTotal)
    }
  }
}
</script>
<style scoped lang="scss">
@import '@/styles/style.scss';

    .order-head {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .order-number {
        text-align: start!important;
    }
    .order-amount {
        text-align: end!important;
    }
    .pending {
        background-color: $light-blue;
    }
</style>
