<template>
<div>
  <v-card v-for="client in clients" :key="client.id"
  class="Clientcard mx-auto mb-1 mt-1">
    <v-card-text>
      <p class="display-1 font-weight-light black--text">
        {{ client.firstname }} {{ client.lastname }}
      </p>
      <div>{{ client.address }}</div>
    </v-card-text>
    <v-card-actions>
        <v-spacer></v-spacer>
      <v-btn @click="createOrder(client.id)" text color="deep-purple accent-4">
        Create Order
      </v-btn>
    </v-card-actions>
  </v-card>
</div>
</template>
<script>
export default {
  name: 'ClientCardView',
  props: {
    clients: {
      type: Array
    }
  },

  methods: {
    createOrder (clientId) {
      this.$emit('create-client-order', clientId)
    }
  }

}
</script>
<style scoped>
    .Clientcard {
        cursor: pointer!important;
    }
    .Clientcard:hover {
        background-color: #ecebeb!important;
    }
</style>
