<template>
  <v-row justify="center">
    <v-dialog class="catsDialog" width="800" persistent v-model="dialog">
      <v-card>
        <v-card-title class="headline">
          <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                  <v-btn v-bind="attrs" v-on="on"  @click="show = !show" icon class="black--text">
                    <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-plus' }}</v-icon>
                  </v-btn>
              </template>
              <span>{{ show ? 'Close Create Option' : 'Create New Category' }}</span>
          </v-tooltip>
          Item Categories
            <v-spacer></v-spacer>
            <v-text-field hide-details placeholder="Search..." single-line v-model="search"></v-text-field>
            <v-btn small icon class="red--text" @click="closeDialog">
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>
        <v-card-text>
          <v-form @submit.prevent="createNewCategory">
            <small>Create a category</small>
            <v-row align="center" class="pl-1">
              <v-col cols="12" xs="5" md="5" lg="5" xl="5">
                  <v-text-field v-model="categoryName" ref="category" label="Category Name">
                  </v-text-field>
                </v-col>
                <v-col cols="12" xs="5" md="5" lg="5" xl="5">
                  <v-select
                  v-model="outletSelected"
                  :items="outlets" small
                  item-text="name"
                  item-value="id"
                  label="Select Outlet"
                  ></v-select>
              </v-col>
              <v-col cols="2">
                  <v-btn v-if="outletSelected && categoryName" small type="submit" class="blue darken-3" dark>Create</v-btn>
                      <v-btn v-else small disabled class="blue darken-3">Create</v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </div>
    </v-expand-transition>
        <v-data-table :search="search" :headers="headers" :items="categories" :items-per-page="5" class="elevation-1">
          <template v-slot:item.upload="{ item }">
            <v-btn small icon @click="uploadCategoryItems(item)" class="blue--text lighten-1"><v-icon>mdi-cloud-upload-outline</v-icon></v-btn>
          </template>
          <template v-slot:item.update="{ item }">
            <v-btn small icon @click="updateCategory(item)" class="black--text"><v-icon>mdi-pencil</v-icon></v-btn>
          </template>

          <template v-slot:item.outlet="{ item }">
            {{ outletName(item.outlet) }}
          </template>
          <template v-slot:item.action="{ item }">
            <v-btn small icon @click="deleteCategory(item)" class="red--text"><v-icon>mdi-delete</v-icon></v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-dialog>
    <UpdateCategoryDialog v-if="update" :outlets="outlets" :category="selectedCategory" @close-update-dialog="closeUpdate" />
    <ExcelsheetUpload v-if="excelUpload && uploadCategory != null" :category="uploadCategory" @close="excelUpload = false" />
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import UpdateCategoryDialog from '@/components/scm/menu/updateCategoryModal.vue'
import ExcelsheetUpload from '@/components/scm/menu/excelUpload.vue'

export default {

  name: 'MenuCategoryDialog',

  props: {
    outlets: {
      type: Array,
      required: true
    }
  },

  components: {
    UpdateCategoryDialog,
    ExcelsheetUpload
  },

  data () {
    return {
      selectedCategory: null,
      update: false,
      dialog: true,
      excelUpload: false,
      uploadCategory: null,
      headers: [
        { text: 'Category', value: 'category', sortable: true },
        { text: 'Outlet', value: 'outlet', sortable: false },
        // { text: 'Upload Items', value: 'upload', sortable: false },
        { text: '', value: 'update', sortable: false },
        { text: '', value: 'action', sortable: false }
      ],
      categoryName: '',
      search: '',
      show: false,
      outletSelected: null
    }
  },

  computed: {
    ...mapGetters('menu', ['menuCategories']),
    ...mapGetters('auth', ['profile']),

    companyProfile () {
      return this.profile
    },

    categories () {
      return this.menuCategories
    }
  },

  created () {
    this.loadCategories()
  },

  methods: {
    ...mapActions('menu', ['createCategory', 'loadCategories', 'deleteMenuCategory']),
    ...mapActions('auth', ['setError']),

    outletName (outletId) {
      const Outlet = this.outlets.find(Outlet => { return Outlet.id === outletId })
      if (Outlet) return Outlet.name
      else return ''
    },

    closeDialog () {
      this.$emit('close-categories-dialog')
    },

    closeUpdate () {
      this.update = false
    },

    createNewCategory () {
      if (this.categoryName.length <= 1) {
        this.setError('Category Name Must Be Greater 1 Character')
        this.$refs.category.focus()
      } else if (!this.outletSelected) {
        this.setError('Please select outlet')
      } else {
        const mCategory = {
          company: this.companyProfile.company,
          category: this.categoryName.toUpperCase(),
          outlet: this.outletSelected
        }
        this.createCategory(mCategory)
        this.show = false
      }
    },

    deleteCategory (category) {
      const askUser = confirm('Are You Sure You Want To Delete ' + category.category)
      if (askUser) {
        this.deleteMenuCategory(category)
      }
    },

    updateCategory (category) {
      this.selectedCategory = category
      this.update = true
    },

    uploadCategoryItems (category) {
      this.uploadCategory = category
      this.excelUpload = true
    }

  }
}
</script>
<style scoped>
  .catsDialog {
    min-height: 500px !important;
    max-height: 500px !important;
    overflow-x: hidden !important;
  }
</style>
