<template>
 <v-row justify="center">
    <v-dialog class="catsDialog" width="400" persistent v-model="dialog">
        <v-card width="800">
            <v-card-title dense class="headline">
            New Menu Item
            <v-spacer></v-spacer>
            <v-btn small icon class="red--text" @click="closeDialog">
            <v-icon>mdi-close</v-icon></v-btn>
            </v-card-title>
        </v-card>
        <v-card-text class="white">
            <v-form @submit.prevent="createMenuItem">
                <v-text-field v-model="itemName" ref="name" type="text" label="Item Name"></v-text-field>
                <v-text-field v-model="price" type="number" label="Price"></v-text-field>
                <v-select :items="menuCategories"
                item-text='category'
                item-value='id' label="Category" v-model="itemCategoryId"></v-select>
                <v-textarea dense outlined :auto-grow="false" clear-icon="mdi-delete" :clearable="true"
                label="Description" v-model="description"
                hint="Please add a brief description about this item. (Yout may leave it blank)"
                ></v-textarea>
                <v-btn block type="submit">SAVE</v-btn>
            </v-form>
        </v-card-text>
    </v-dialog>
 </v-row>
</template>
<script>
import validator from 'validator'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'MenuItemCreateDialog',

  props: {
    menuCategories: {
      type: Array
    }
  },

  data () {
    return {
      dialog: true,
      itemName: '',
      price: '',
      itemCategoryId: null,
      description: '',
      priceOptions: {
        min: 0,
        max: 999999999
      }
    }
  },

  computed: {
    ...mapGetters('auth', ['profile']),

    company () {
      return this.profile
    }
  },

  methods: {
    ...mapActions('auth', ['setError']),
    ...mapActions('menu', ['createNewMenuItem']),

    closeDialog () {
      this.$emit('close-menu-create-dialog')
    },

    createMenuItem () {
      if (this.itemName.length <= 0) {
        this.setError('Please Enter Item Name')
        this.$refs.name.focus()
      } else if (this.itemName.length <= 1) {
        this.setError('Sorry, Item Names Must be atleast 2 Characters long')
        this.$refs.name.focus()
      } else if (this.itemCategoryId === null || this.itemCategoryId === undefined) {
        this.setError('Sorry, Please select Item category')
      } else if (!validator.isFloat(this.price, this.priceOptions)) {
        this.setError('Sorry, Please make sure You entered The right Amount')
        this.$refs.name.focus()
      } else {
        let itemDescription = ''
        if (this.description !== null || !this.description !== undefined) {
          itemDescription = this.description.toUpperCase()
        }
        const menuItem = {
          company: this.company.company,
          name: this.itemName.toUpperCase(),
          price: parseFloat(this.price),
          category: this.itemCategoryId,
          description: itemDescription,
          hidden: false
        }
        this.createNewMenuItem(menuItem)
        this.$emit('close-menu-create-dialog')
      }
    }
  }

}
</script>
