<template>
    <v-dialog class="catsDialog" width="900" persistent v-model="dialog">
      <v-card :loading="uploading">
          <v-card-title class="headline">
              Upload  Menu Items
              <v-spacer></v-spacer>
              <v-text-field hide-details placeholder="Search..." single-line v-model="search"></v-text-field>
            <v-btn small icon class="red--text" @click="closeUpload">
                <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text class="text-center">
            <div class="uploadSection" v-if="uploadedFiles && uploadedFiles.length <= 0">
              <div class="optUploadFiles float-center black--text font-weight-light">
                <h3>Upload Items</h3>
                <v-btn small dark outlined  class="mt-1" color="red" @click="onPickFile">Click To Upload Excel File</v-btn>
                <a href="@/upload-templates/SmartPOSMenuItemsUploadTemplate.xlsx" download>
                    <v-btn small dark outlined  class="mt-1 ml-1" color="green">Download Menu Template</v-btn>
                </a>
              </div>
            </div>
            <div v-else class="uploadSection uploaded">
                <v-data-table :headers="headers" :items="uploadedFiles" :search="search" :items-per-page="5" class="elevation-1 black--text font-weight-light">
                  <template v-slot:item.delete="{ item }">
                    <v-btn icon small @click="deleteItem(item)" class="red--text"><v-icon>mdi-delete</v-icon></v-btn>
                  </template>
                </v-data-table>
            </div>
          </v-card-text>
          <v-card-actions class="text-center actions">
            <div class="uploaded-options" v-if="uploadedFiles.length > 0 && !uploading">
              <v-select
              v-model="outletSelected"
              :items="outlets" small
              item-text="name"
              item-value="id"
              label="Select Outlet"
              ></v-select>
              <v-btn small dark color="red" @click="onPickFile()"> Select New File</v-btn>&nbsp;
              <v-btn small dark color="green" v-if="outletSelected" @click="uploadItems()"><v-icon>mdi-upload</v-icon>Upload Items</v-btn>
              <br><small class="black--text font-weight-light"> {{ uploadedFiles.length }} Items uploaded and found {{ errorsInFile.length }} errors in {{ selectedFileName }}
                </small>
            </div>
            <div class="uploaded-options" v-if="uploadedFiles.length > 0 && uploading">
              <v-progress-circular indeterminate color="primary"></v-progress-circular>
              <br><small class="black--text font-weight-light">Uploading...</small>
            </div>
              <input type="file" id="menuItemsUpoadfileInput" accept=".xls, .xlsx" ref="fileInput" @change="readUploadedFile" style="display:none;">
          </v-card-actions>
      </v-card>
    </v-dialog>
</template>
<script>
import readXlsxFile from 'read-excel-file'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'MenuItemsExcelUpload',
  props: {
    category: {
      type: Object
    }
  },
  data () {
    return {
      uploading: false,
      search: '',
      dialog: true,
      uploadSchema: {
        id: {
          prop: 'id',
          type: String / Number,
          required: true,
          parse (value) {
            return value.trim()
          }
        },
        name: {
          prop: 'name',
          type: String,
          required: true,
          parse (value) {
            return value.toUpperCase()
          }
        },
        price: {
          prop: 'price',
          type: Number,
          required: true,
          parse (value) {
            if (isNaN(value)) {
              throw new Error('Sorry invalid data found')
            } else {
              return parseFloat(value)
            }
          }
        },
        category: {
          prop: 'category',
          type: String,
          required: false,
          parse (value) {
            return value.toUpperCase()
          }
        }
      },
      headers: [
        { text: 'item code', value: 'id', sortable: true },
        { text: 'Item Name', value: 'name', sortable: true },
        { text: 'Price', value: 'price', sortable: true },
        { text: 'Category', value: 'category', sortable: true },
        { text: '', value: 'delete', sortable: false }
      ],
      uploadedFiles: [],
      selectedFileName: '',
      errorsInFile: [],
      uploadedMenuCategories: [],
      outletSelected: null
    }
  },

  computed: {
    ...mapGetters('auth', ['profile']),
    ...mapGetters('sections', ['outlets'])
  },

  methods: {
    ...mapActions('menu', ['createNewMenuItem', 'checkMenuCategory', 'uploadExcelFileData']),

    async getCategoryId (category) {
      return await this.checkMenuCategory({ ...category, outlet: this.outletSelected })
    },

    async addMenuItemUploaded (menuItem) {
      return await this.createNewMenuItem(menuItem)
    },
    async uploadMenuCategories () {
      const outletSelected = this.outletSelected
      if (!outletSelected) return
      const allCategories = this.uploadedMenuCategories
      allCategories.forEach(category => {
        this.getCategoryId(category)
      })
    },
    async uploadItemsWithCategories () {
      const uploadedMenuItems = this.uploadedFiles
      const outletSelected = this.outletSelected
      if (!outletSelected) return
      this.uploadedMenuCategories.forEach(category => {
        const menuItemsInCategory = uploadedMenuItems.filter((itemMenu) => { return itemMenu.category === category.category })
        this.getCategoryId(category).then(cat => {
          const CATEGORYID = cat
          if (CATEGORYID !== 0 && CATEGORYID !== null && CATEGORYID !== undefined) {
            menuItemsInCategory.forEach(item => {
              addMenuItem({
                category: CATEGORYID,
                hidden: false,
                outlet: this.outletSelected,
                name: item.name,
                price: item.price,
                code: item.id
              })
            })
          }
        })
      })
      const addMenuItem = async (menuItem) => {
        return await this.addMenuItemUploaded({ ...menuItem, company: this.profile.company })
      }
      this.uploading = false
      this.$emit('close')
    },
    async uploadItems () {
      this.uploading = true
      await this.uploadMenuCategories()
      setTimeout(() => {
        this.uploadItemsWithCategories()
      }, 5000)
    },
    closeUpload () {
      if (this.uploadedFiles.length === 0) {
        this.$emit('close')
      } else {
        if (confirm('You have ' + this.uploadedFiles.length + ' unsaved items, are you sure you want to cancel upload?')) {
          this.$emit('close')
        }
      }
    },
    onPickFile () {
      this.$refs.fileInput.click()
    },
    readUploadedCategories (category) {
      const index = this.uploadedMenuCategories.findIndex((Category) => { return Category.category === category })
      if (index >= 0) {
      } else {
        this.uploadedMenuCategories.push({
          category: category,
          company: this.profile.company
        })
      }
    },
    readUploadedFile (event) {
      const files = event.target.files
      const filename = files[0].name
      this.selectedFileName = filename
      const schema = this.uploadSchema
      let filesRead = []
      const errorsFound = []
      const saveCategories = (category) => {
        this.readUploadedCategories(category)
      }
      readXlsxFile(files[0], { schema }).then(({ rows, errors }) => {
        rows.forEach(element => {
          filesRead.push(element)
          saveCategories(element.category)
        })
        filesRead = rows
        errors.forEach(error => {
          errorsFound.push(error)
        })
      })
      this.uploadedFiles = filesRead
      this.errorsInFile = errorsFound
    },
    deleteItem (item) {
      const index = this.uploadedFiles.findIndex((menuItem) => { return menuItem.id === item.id })
      if (index >= 0) {
        if (confirm('Are you sure you want to delete ' + item.name + '?')) { this.uploadedFiles.splice(index, 1) }
      }
    }
  }
}
</script>
<style scoped>

.v-progress-circular {
  margin: 1rem;
}

    .uploadSection {
        margin: auto;
        height: 300px;
        width: 800px;
        margin: 15px;
        border: 1px solid #ccc;
        align-self: center;
        border-radius: 5px;
    }

    .uploaded {
      overflow-y: scroll;
      max-height: 830px!important;
    }

    .actions {
      align-items: center!important;
    }

    .uploadSection .optUploadFiles {
      align-self: center;
      width: 100%;
      height: 100%;
      top: 50%;
      align-self: center;
    }

    .uploadSection .optUploadFiles {
      margin-top: 150px;
      align-self: center;
    }

    .uploaded-options {
      margin: auto;
    }
</style>
