<template>
    <v-row justify="center">
        <v-dialog class="catsDialog" width="400" persistent v-model="dialog">
            <v-card>
                <v-card-title class="headline" v-if="MenuItem">
                    {{ MenuItem.name }}
                    <v-spacer></v-spacer>
                    <v-btn small icon class="red--text" @click="closeDialog"><v-icon>mdi-close</v-icon></v-btn>
                </v-card-title>
                <v-card-text>
                    <v-form @submit.prevent="updateItem">
                        <v-text-field v-model="code" label="Item Code" />
                        <v-text-field v-model="update" label="Item Name" />
                        <v-text-field v-model="price" label="Item Price" />
                        <v-select :items="categories"
                        item-text='category'
                        item-value='id' label="Category" v-model="itemCategoryId"></v-select>
                        <v-textarea dense outlined :auto-grow="false" clear-icon="mdi-delete" :clearable="true"
                        label="Description" v-model="description"
                        hint="Please add a brief description about this item. (Yout may leave it blank)"
                        ></v-textarea>
                        <v-btn block type="submit">UPDATE</v-btn>
                            </v-form>
                        </v-card-text>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'UpdateMenuItemDialog',

  props: {
    MenuItem: {
      type: Object
    }
  },

  data () {
    return {
      dialog: true,
      update: '',
      price: '',
      description: '',
      itemCategoryId: '',
      code: ''
    }
  },

  computed: {
    ...mapGetters('menu', ['menuCategories', 'menuItems']),
    ...mapGetters('auth', ['profile']),

    userProfile () {
      return this.profile
    },

    categories () {
      return this.menuCategories
    }
  },

  created () {
    this.update = this.MenuItem.name
    this.price = this.MenuItem.price
    this.description = this.MenuItem.description
    this.itemCategoryId = this.MenuItem.category
    this.code = this.MenuItem.code
  },

  methods: {
    ...mapActions('menu', ['updateMenuItem']),

    closeDialog () {
      this.$emit('close-menuitem-update-dialog')
    },

    updateItem () {
      const updatedCat = {
        id: this.MenuItem.id,
        code: this.code,
        name: this.update.toUpperCase(),
        price: parseFloat(this.price),
        category: this.itemCategoryId,
        description: this.description.toUpperCase() | ' ',
        company: this.userProfile.company
      }
      // console.log(updatedCat)
      this.updateMenuItem(updatedCat)
      this.$emit('close-menuitem-update-dialog')
    }
  }

}
</script>
