<template>
    <v-row justify="center">
        <v-dialog class="catsDialog" width="400" persistent v-model="dialog">
            <v-card>
                <v-card-title class="headline" v-if="category">
                    {{ category.category }}
                    <v-spacer></v-spacer>
                    <v-btn small icon class="red--text" @click="closeDialog"><v-icon>mdi-close</v-icon></v-btn>
                </v-card-title>
                <v-card-text>
                    <v-form @submit.prevent="updateCategory">
                        <v-text-field v-model="update" label="Category Name" />
                        <!-- <v-select
                        v-model="outletSelected"
                        :items="outlets" small
                        item-text="name"
                        item-value="id"
                        label="Select Outlet"
                        ></v-select> -->
                        <v-btn small type="submit" class="blue darken-3" dark>Update</v-btn>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'UpdateCategoryDialog',

  props: {
    category: {
      type: Object
    },
    outlets: {
      type: Array,
      required: true
    }
  },

  data () {
    return {
      dialog: true,
      update: '',
      outletSelected: ''
    }
  },

  created () {
    this.update = this.category.category
    this.outletSelected = this.category.outlet
  },

  methods: {
    ...mapActions('menu', ['updateCategoryItem']),

    closeDialog () {
      this.$emit('close-update-dialog')
    },

    updateCategory () {
      const updatedCat = {
        id: this.category.id,
        category: this.update.toUpperCase(),
        outlet: this.outletSelected,
        company: this.category.company
      }
      this.updateCategoryItem(updatedCat)
      this.$emit('close-update-dialog')
    }
  }

}
</script>
