<template>
    <v-container fluid class="main-window">
        <v-row>
            <v-col xs="2" sm="2" md="2" lg="2" xl="2">
                <sectionsAndTables :outlet="getUserOutlet" :selected="selectedOrder" @order-picked="viewOrderDetails" />
            </v-col>
            <v-col cols="12" xs="6" sm="6" md="6" lg="6" xl="6">
                <menuItems
                @menu-item-selected="saveItemSelected"
                @create-random-order="CreateRandomOrder"
                :order="selectedOrder" />
            </v-col>
            <v-col cols="12" xs="3" sm="3" md="3" lg="3" xl="3">
                <SelectedOrder :user="profile" :items="orderItemsList" :order="selectedOrder"
                  :discounts="discounts" />
            </v-col>
            <v-col cols="12" xs="1" sm="1" md="1" lg="1" xl="1">
                <Actions
                    @open-settlement-modal="openSettlementModal"
                    @view-bill-sammary="viewBillSammary"
                    @add-discount="openDiscountModal"
                    @confirm-order="confirmOrderUpdate"
                    :order="selectedOrder"
                    :items="orderItemsList" />
            </v-col>
        </v-row>
        <AddQuantityModal @save-quantity="addItemToOrder" @close-quantity-dialog="closeQuantityDialog"
        v-if="openAddQuantity" :menuItem="itemSelected" />
        <ViewBill v-if="viewOrder" @close-order-dialog="closeBillDialog"
                  :company="profile" :order="selectedOrder"
                  :items="orderItemsList"
                  :discounts="discounts" />
        <OrderSettlementModal
                  v-if="settleOrder"
                  :orderItems="orderItemsList"
                  :order="selectedOrder"
                  :discounts="discounts"
                  :outlet="getUserOutlet"
                  @pop-order="popOrder"
                  @close-settlement-dialog="closeSettlementModal" />
        <BillDiscountModal v-if="DiscountModal"
                  @close-discount-modal="closeDiscountModal"
                  :orderItems="orderItemsList"
                  :discounts="discounts"
                  :order="selectedOrder" />
    </v-container>
</template>
<script>
import sectionsAndTables from '@/components/restaurant/sectionsAndTables.vue'
import menuItems from '@/components/restaurant/menuItems.vue'
import Actions from '@/components/menu/actionButtons.vue'
import OrderSettlementModal from '@/components/modals/orderSettlement.vue'
import SelectedOrder from '@/components/Order/order.vue'
import AddQuantityModal from '@/components/modals/addItemQuantityModal.vue'
import ViewBill from '@/components/Order/bill.vue'
import BillDiscountModal from '@/components/modals/billDiscountModal.vue'
import { mapGetters, mapActions } from 'vuex'
import moment from 'moment'
moment.defaultFormat = 'DD.MM.YYYY HH:mm'

export default {
  name: 'mainPage',

  components: {
    sectionsAndTables,
    menuItems,
    Actions,
    SelectedOrder,
    AddQuantityModal,
    ViewBill,
    OrderSettlementModal,
    BillDiscountModal
  },

  data () {
    return {
      selectedOrder: null,
      itemsToAdd: 1,
      orderItemsSelected: [],
      openAddQuantity: false,
      itemSelected: null,
      viewOrder: false,
      settleOrder: false,
      DiscountModal: false
    }
  },

  computed: {
    ...mapGetters('order', ['paymentTypes', 'orderItems', 'discounts', 'pendingOrders']),
    ...mapGetters('auth', ['profile']),
    ...mapGetters('sections', ['outlets']),

    getUserOutlet: function () {
      const mOutlet = this.outlets.find(Outlet => { return Outlet.id === this.profile.outlet })
      return mOutlet
    },

    orderItemsList: function () {
      let itemsList = []

      if (this.selectedOrder) {
        itemsList = this.orderItems.filter((Items) => {
          return Items.order.match(this.selectedOrder.id)
        })
      }
      return itemsList
    }
  },

  mounted () {
    // this.getOutlets()
  },

  methods: {
    ...mapActions('auth', ['setError']),
    ...mapActions('order', ['addOrderItem', 'createOrder', 'confirmOrder']),
    ...mapActions('sections', ['getOutlets']),

    confirmOrderUpdate (orderId) {
      const isConfirmed = this.orderItemsList.filter((menuItem) => {
        return menuItem.status === 0 && menuItem.order === orderId
      })
      if (isConfirmed.length > 0) this.confirmOrder(orderId)
    },

    popOrder (orderId) {
      const index = this.pendingOrders.findIndex((Order) => { return Order.id.match(orderId) })
      if (index >= 0) {
        this.pendingOrders.splice(index, 1)
      }
    },

    CreateRandomOrder () {
      if (!this.getUserOutlet || !this.getUserOutlet.day_open) return this.setError('Please check day open')
      const date = moment.utc().format()
      const local = moment.utc(date).local().format('HH:mm:ss')
      const newOrder = {
        company: this.profile.company,
        outlet: this.profile.outlet,
        createdby: this.profile.id,
        client: 'none',
        date: this.getUserOutlet.day_open,
        time: local,
        settlement: 0,
        status: 0,
        table: 'Cash Sales'
      }
      this.createOrder(newOrder)
    },

    openDiscountModal () {
      if (this.selectedOrder) this.DiscountModal = true
      else this.setError('Please Select Order')
    },

    closeDiscountModal () {
      this.DiscountModal = false
    },

    closeSettlementModal (status) {
      this.settleOrder = false
      if (status) this.selectedOrder = null
    },

    openSettlementModal () {
      if (this.selectedOrder) {
        const isConfirmed = this.orderItemsList.filter((menuItem) => {
          return menuItem.status === 0
        })
        if (isConfirmed.length > 0) this.setError('Please Confirm Order')
        else this.settleOrder = true
      } else {
        this.setError('Please select Order')
      }
    },

    viewBillSammary () {
      if (this.selectedOrder) {
        const isConfirmed = this.orderItemsList.filter((menuItem) => {
          return menuItem.status === 0
        })
        if (isConfirmed.length > 0) this.setError('Please confirm order')
        else this.viewOrder = true
      } else {
        this.setError('No Order Selected')
      }
    },

    closeBillDialog () {
      this.viewOrder = false
    },

    viewOrderDetails (order) {
      this.selectedOrder = order
    },

    saveItemSelected (item) {
      if (this.selectedOrder) {
        this.itemSelected = item
        this.openAddQuantity = true
      } else {
        this.setError('Sorry, No Order Selected')
      }
    },

    addItemToOrder (itemQuantity) {
      if (this.profile.day_open) {
        const date = moment.utc().format()
        const local = moment.utc(date).local().format('HH:mm:ss')
        const orderItem = {
          order: this.selectedOrder.id,
          item: this.itemSelected.id,
          unitprice: itemQuantity.unitprice,
          quantity: itemQuantity.quantity,
          amount: parseFloat(itemQuantity.amount),
          date: this.getUserOutlet.day_open,
          outlet: this.profile.outlet,
          time: local,
          status: 0,
          company: this.profile.company,
          addedby: this.profile.id
        }
        if (this.getUserOutlet.day_open) {
          this.addOrderItem(orderItem)
          this.openAddQuantity = false
        } else {
          this.setError('Sorry, please check day open')
        }
      }
    },

    closeQuantityDialog () {
      this.openAddQuantity = false
    }
  }

}
</script>
<style scoped>
  .main-window {
    position: fixed;
  }
</style>
