<template>
<div>
  <MenuCategories @find-category="filterMenuItemsByCategory" :categories="categories" @searchCategory="searchCategoryByName" />
  <MenuItems :menuItems="menu"
  @item-selected="itemSelected"
  @search-menu-item="searchMenuItemByName"
  @create-random-order="createRandomOrder" />
</div>
</template>

<script>
import MenuCategories from '@/components/menu/Categories.vue'
import MenuItems from '@/components/menu/MenuItems.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'menuItems',

  components: {
    MenuCategories,
    MenuItems
  },

  data () {
    return {
      searchCategory: '',
      searchMenuItem: ''
    }
  },

  computed: {
    ...mapGetters('menu', ['menuCategories', 'menuItemsByCategory', 'filteredMenuItems']),
    ...mapGetters('auth', ['profile']),

    categories () {
      return this.menuCategories
    },

    menu () {
      return this.menuItemsByCategory.filter(item => { return (item.name.match(this.searchMenuItem) && item.outlet === (this.profile.outlet)) })
    }

  },

  methods: {
    ...mapActions('menu', ['searchMenuByCategory']),

    createRandomOrder () {
      this.$emit('create-random-order')
    },

    filterMenuItemsByCategory (menuItemsCategoryId) {
      this.searchMenuByCategory(menuItemsCategoryId)
    },

    searchCategoryByName (searchText) {
      this.searchCategory = searchText
    },
    searchMenuItemByName (menuItemName) {
      this.searchMenuByCategory(0)
      this.searchMenuItem = menuItemName
    },

    itemSelected (item) {
      this.$emit('menu-item-selected', item)
    }
  }

}
</script>
