<template>
    <div>
      <!--
        <v-tabs v-model="tab" background-color="blue darken-3" dark>
          <v-tab v-for="item in navMenu" :key="item.tab" class="white--text">
            {{ item.tab }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item v-for="item in navMenu" :key="item.tab">
            <v-card flat class="sections">
              <v-card-text class="sections">
                <template v-if="item.tab === 'Dining'">
                  <sectionItem @view-order-details="orderDetails" :orders="diningOrders" />
                </template>
                <template v-else-if="item.tab === 'Orders'">
                  <takeAway :orders="takeAwayOrders" @view-order-details="orderDetails" />
                </template>
                <template v-else>
                  <takeAway :orders="takeAwayOrders" @view-order-details="orderDetails" />
                </template>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      -->
      <takeAway v-if="outlet" :outlet="outlet" :orders="ordersToday" @view-order-details="orderDetails" />
    </div>
</template>
<script>
// import sectionItem from '@/components/_Generics/restaurant/restaurantSection.vue'
import takeAway from '@/components/_Generics/restaurant/takeAways.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'sectionsAndTables',

  props: {
    outlet: {
      type: Object,
      required: true
    }
  },

  components: {
    takeAway
  },

  data () {
    return {
      tab: null,
      navMenu: [{ tab: 'T-Away' }]
    }
  },

  computed: {
    ...mapGetters('auth', ['salesMenu', 'profile']),
    ...mapGetters('order', ['ordersToday']),

    takeAwayOrders () {
      return this.ordersToday.filter((Order) => {
        return Order.table === 'T-Away'
      })
    },

    diningOrders () {
      return this.ordersToday.filter((Order) => {
        return Order.table !== 'T-Away'
      })
    },

    navMenu2 () {
      return this.salesMenu
    },

    company () {
      return this.profile
    }
  },

  methods: {
    orderDetails (order) {
      this.$emit('order-picked', order)
    }
  }

}
</script>
<style scoped>
  .sections {
    background-color: #ecebeb!important;
  }
</style>
