@import './style.scss';

.nav-container {
    background-color: inherit!important;
    width: 100%;
    overflow: hidden;

    .user-info {
        border-bottom: 2px solid $light-grey;
        padding: 5px;

        .pane-item:hover {
            background-color: $grey;
        }

        .pane-item {
            padding-left: 15px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 5px;
            overflow: hidden;
            max-lines: 1;
            display: flex;
            flex-wrap: nowrap;
            cursor: pointer;

            > div {
                width: inherit;
                margin-right: 5px;
                vertical-align: baseline;
            }

            .icon avator {
                background-color: $grey!important;
            }
            .user-name {
                align-self: center;
                color: $text-color;
                font-family: sans-serif;
                font-size: 14px;
            }
        }

    }

}
