$blue: #337ab7;
$dark-blue: #1a73e8;
$light-blue: #b4d4ff;
$white: #ffffff;
$purple: #800080;
$body-background: #ecebeb;
$light-background: #ccc;
$black: #000;

router-link {
    text-decoration: none!important;
    cursor: pointer;
}

.list-group{
    font-size: 15px;
    background-color: #f4f5f8;
}
.pos{
    margin-bottom: 20px;
    margin-top: 20px;
}

.jumbotron{
    margin-bottom: 0px !important;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    height: 200px;
}
.navbar{
    background-color: rgb(0, 0, 0, 0.8) !important;
}
.intro, .list-group-item:first-child{
    background-color: $blue;
    color: white;
}
.list-group-item{
    text-align: left !important;
}
.list-group-item:first-child{
    font-size: 24px;
}
.gameChanger h1{
    color: rgb(57, 58, 61);
}
.preview{
    max-height: 250px;
    margin: auto;
}
.introRow{
    padding-top: 20px;
}
.gameChanger{
    margin-top: 30px;
    margin-bottom: 20px;
}
.featureImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 75px;
    width: 85px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.card-text{
    font-weight: 200px !important;
}
.PricingRow{
    background-color: #f4f5f8;
    padding-top: 20px;
    margin-right: 0px !important;
}
.Plans{
    margin-bottom: 20px;
}
.list-appended{
    background-color: $blue !important;
    color: #FFFFFF;
    font-style: bold;
}
.list-appended:hover{
    color: #000;
}
.myPlan{
    margin-bottom: 20px;
}
.myPlan:last-child{
    margin-bottom: 0px;
}
a {
    text-decoration: none!important;
}
.DemoRequest{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    background-color: #393a3d;
    color: #fff;
}
.DemoRequest1{
    padding-top: 20px;
    height: auto;
    background-color: #393a3d;
    color: #fff;
}
.ReviewImg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    align-self: left;
}
.ReviewMessage{
    font-style: italic;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    margin-top: 10px;

    a p {
        text-decoration: none;
    }
}
.Author{
    color: rgb(197, 197, 197);
    font-style: italic;
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
}
.GetStarted{
    padding-top: 20px;
    padding-bottom: 20px;
}
.BtnRequestDemo, .BtnRequestDemo:hover , .BtnRequestDemo:focus{
    background-color: #53b700 !important;
    color: white;
    border-radius: 0px !important;
    height: auto;
    float: middle;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.btnSendQuote, .btnSendQuote:hover, .btnSendQuote:focus{
    background-color: #53b700 !important;
    color: white;
    width: 100%;
    margin-top: 10px;
}
.footer{
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
}
.footerCol a{
    text-decoration: none;
    color: #FFFFFF;
}
.playstore{
    max-height: 70px;
    max-width: 75px;
}
.uganda{
    max-height: 50px;
    max-width: 55px;
}