<template>
    <div class="card card-hover card-analytics-two">
        <div class="card-header bg-transparent">
        <h6 class="card-title mg-b-0" v-if="creditors && creditors.length > 0">{{ creditors.length }} Credit sales</h6>
        <h6 class="card-title mg-b-0" v-else>No credit sales</h6>
    </div>
    <div class="card-body credit-sales">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" v-for="credit in creditors" :key="credit.id">
                <div class="list-group-icon bg-orange tx-white">
                  <span>{{ getEmployeeNameInitial(credit.settledby) }}</span>
                </div>
                <div class="list-body">
                    <h6 v-text="getClientName(credit.client)"></h6>
                    <span>{{ `@${getOutletName(credit.outlet)} outlet by ${getEmployeeName(credit.settledby)}` }}</span>
                </div>
                <div class="list-visit" v-text="formatNumber(credit.amount)"></div>
            </li>
        </ul>
    </div>
    </div>
</template>
<script>
import SalesSammary from '@/mixins/admin-reports'
import ComputedMethodsMixin from '@/mixins/computations'

export default {
  name: 'CreditSales',
  mixins: [SalesSammary, ComputedMethodsMixin]
}
</script>
