<template>
<div>
    <ul class="nav nav-sidebar">
        <li class="nav-item">
            <a class="nav-link">
                <i data-feather="aperture">
                <v-icon left>mdi-home</v-icon>
                </i> Dashborad
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i data-feather="aperture"></i> Item Sales
            </a>
        </li>
    </ul>
    </div>
</template>

<script>
export default {
  name: 'AdminNavmenu',

  mounted () {
    //
  }
}
</script>

<style scoped lang="scss">
    @import '../../styles/admin/css/all.min.css';
    @import '../../styles/admin/css/jqvmap.min.css';
    @import '../../styles/admin/css/cassie.css';

</style>
