<template>
    <div class="col-xl-8">
      <div class="row row-sm">
        <div class="col-sm-6">
          <div class="card card-hover card-profile-visits">
            <div>
              <p class="content-label mg-b-5 tx-pink">Profile Visits</p>
              <div class="d-flex align-items-end">
                <h4 class="tx-color-01 tx-numeric tx-normal mg-b-0">361,782</h4>
                <span class="d-flex align-items-center tx-success mg-l-2 tx-13"><i data-feather="arrow-up" class="svg-14 stroke-25"></i>1.2%</span>
              </div>
            </div>
            <div class="flot-wrapper">
              <div id="flotChart10" class="flot-chart"></div>
            </div>
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-6 mg-t-15 mg-sm-t-0">
          <div class="card card-hover card-profile-visits">
            <div>
              <p class="content-label mg-b-5 tx-orange">Unique Visits</p>
              <div class="d-flex align-items-end">
                <h4 class="tx-color-01 tx-numeric tx-normal mg-b-0">102,004</h4>
                <span class="d-flex align-items-center tx-danger mg-l-2 tx-13"><i data-feather="arrow-down" class="svg-14 stroke-25"></i>0.4%</span>
              </div>
            </div>
            <div class="flot-wrapper">
              <div id="flotChart11" class="flot-chart"></div>
            </div>
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-12 mg-t-15 mg-sm-t-20">
          <div class="card card-hover card-cash-flow">
            <div class="card-body pd-0">
              <div class="row no-gutters">
                <div class="col-sm-5 col-md-4">
                  <div class="pd-y-15 pd-sm-y-20 pd-l-15 pd-sm-l-20 ht-100p">
                    <h6 class="tx-color-01 mg-b-3">Outlet overview</h6>
                    <p class="tx-11 tx-color-03">Jan 01, 2019 - Dec 31, 2019</p>

                    <label class="tx-color-03 tx-12 mg-b-5">Total Income</label>
                    <h4 class="card-value">9,174,700<small>usd</small></h4>
                    <span class="tx-12 tx-color-04"><span class="tx-success"><i class="icon ion-android-arrow-up"></i> 1.5%</span> higher from last year</span>

                    <hr class="mg-y-10 op-0">

                    <label class="tx-color-03 tx-12 mg-b-5">Total Expenses</label>
                    <h4 class="card-value">2,628,740<small>usd</small></h4>
                    <span class="tx-12 tx-color-04"><span class="tx-danger"><i class="icon ion-android-arrow-up"></i> 0.9%</span> higher from last year</span>
                  </div>
                </div><!-- col -->
                <div class="col-sm-7 col-md-8">
                  <div class="pd-15 pd-t-0 pd-sm-20 bd-sm-l">
                    <div class="d-flex align-items-center justify-content-between mg-b-15">
                      <div class="chart-legend">
                        <label><span class="bg-green"></span> Income</label>
                        <label><span class="bg-gray-400"></span> Expenses</label>
                      </div>
                      <nav class="nav nav-card-icon">
                        <a href="dashboard-one.html"><i data-feather="help-circle"></i></a>
                        <a href="dashboard-one.html"><i data-feather="more-horizontal"></i></a>
                      </nav>
                    </div>
                    <div id="flotChart12" class="flot-chart">Graph here</div>
                  </div>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- col -->
</template>
<script>
export default {
  name: 'OutletsOverview'
}
</script>
