<template>
    <div class="card card-hover card-analytics-one">
        <div class="card-body">
            <div class="row row-sm">
                <div class="col-sm-8 col-md-8">
                <label class="tx-medium tx-14 tx-color-01 mg-b-2">Sales overview</label>
                <div class="chart-wrapper">
                    <div id="flotChart" class="flot-chart">
                        <GChart
                            type="ColumnChart"
                            :data="chartData"
                            :options="chartOptions"
                            :resizeDebounce="500"
                        />
                    </div>
                </div>
                </div>
                <div class="col-sm-4 col-md-4 mg-t-15 mg-sm-t-0">
                <div class="d-flex mg-b-20">
                    <select class="custom-select custom-select-sm tx-12">
                    <option selected="">Last 30 days</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select>
                    <button class="btn btn-secondary btn-xs btn-icon pd-y-0 mg-l-5 flex-shrink-0"><i data-feather="download"></i></button>
                </div>
                <label class="content-label content-label-xs">Running orders</label>
                <div class="d-flex align-items-baseline mg-b-5">
                    <h2 class="card-value mg-b-0" v-if="pendingOrders" v-text="pendingOrders.length"><span></span></h2>
                    <h2 class="card-value mg-b-0" v-else v-text="0"><span></span></h2>
                    <span class="card-value-sub tx-pink" v-if="pendingOrders && allOrders" v-text="(pendingOrders.length/allOrders.length)*100 +'%'"><i class="icon ion-android-arrow-up"></i> 40.7%</span>
                </div>
                <p class="card-value-desc">Orders that haven't been paid yet.</p>

                <hr class="mg-y-10 op-0">

                <label class="content-label content-label-xs">Orders Settled</label>
                <div class="d-flex align-items-baseline mg-b-5">
                    <h2 class="card-value mg-b-0" v-if="settledOrders" v-text="settledOrders.length"></h2>
                    <h2 class="card-value mg-b-0" v-else v-text="0+'%'"></h2>
                    <span class="card-value-sub tx-success" v-if="settledOrders && allOrders"><i class="icon ion-android-arrow-down"></i>
                        {{ (settledOrders.length/allOrders.length)*100 }}%
                    </span>
                </div>
                <p class="card-value-desc">Total orders settled as paid</p>

                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent">
        <div class="row no-gutters">
            <template v-if="dashboardPaymentOverview">
                <div class="col-6 col-sm" v-for="pay in dashboardPaymentOverview" :key="pay.id">
                    <div class="d-flex align-items-baseline mg-b-5">
                        <h4 class="tx-numeric tx-normal" v-text="formatNumber(paymentSettledSammary(pay.id))"></h4>
                    </div>
                    <label class="content-label content-label-xs" v-text="pay.settlement"></label>
                </div>
            </template>

        </div>
        </div>
    </div>
</template>
<script>
import SalesSammary from '@/mixins/admin-reports'
import SalesChart from '@/mixins/sales-chart'
import ComputedMethodsMixin from '@/mixins/computations'

export default {
  name: 'SalesSammary',
  mixins: [
    SalesSammary,
    SalesChart,
    ComputedMethodsMixin
  ]
}
</script>
<style scoped lang="scss">
    @import '../../styles/admin/css/all.min.css';
    @import '../../styles/admin/css/jqvmap.min.css';
    @import '../../styles/admin/css/cassie.css';

</style>
