<template>
    <div>
        <v-row class="reports-bg font-weight-light">
            <v-col cols="12" xs="12" offset-sm="1" sm="10" offset-md="1" md="10">
                <h1 class="ma-1 font-weight-bold">Menu Items</h1>
                <small>You have {{ menu.length }} products</small>
                <p>Logged in as {{ profile.name }}</p>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" xs="12" sm="10" offset-sm="1" md="10" offset-md="1">
                <v-card class="mx-auto">
                    <v-toolbar dense flat>
                        <v-toolbar-title>{{ menu.length }} Menu Items</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-text-field hide-details placeholder="Search..." single-line v-model="search"></v-text-field>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" @click="openCategoriesDialog"
                                icon class="black--text">
                                    <v-icon>mdi-shape</v-icon>
                                </v-btn>
                            </template>
                            <span>View Item Categories</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" @click="openMenuitemsDialog = true" icon class="black--text">
                                    <v-icon>mdi-upload</v-icon>
                                </v-btn>
                            </template>
                            <span>Upload Menu Items</span>
                        </v-tooltip>
                        <v-tooltip top v-if="productionReleased">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" @click="createMenuItem()" icon class="black--text">
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </template>
                            <span>Create Menu Item</span>
                        </v-tooltip>
                    </v-toolbar>
                        <v-data-table :headers="headers" :items="menu" :search="search" :items-per-page="10" class="elevation-1 black--text font-weight-light">
                          <template v-slot:item.category="{ item }">
                            <template v-if="categoryName(item.category)">
                              {{ categoryName(item.category) }}
                            </template>
                            <template v-else>
                              No Category Found
                            </template>
                          </template>
                          <template v-slot:item.price="{ item }">
                            {{ formatNumber(item.price)}}
                          </template>
                          <template v-slot:item.outlet="{ item }">
                            {{ outletName(item.outlet)}}
                          </template>
                          <template v-slot:item.hidden="{ item }">
                            <v-btn text icon class="black--text font-weight-light">
                              {{ item.hidden ? 'is Hidden' : 'is Active' }}
                            </v-btn>
                          </template>
                          <template v-slot:item.update="{ item }">
                            <v-btn small icon @click="MenuItemUpdate(item)" class="black--text"><v-icon>mdi-pencil</v-icon></v-btn>
                          </template>
                          <template v-slot:item.delete="{ item }">
                            <v-btn v-if="item.hidden" small @click="hideItem(item)" class="red--text">ITEM HIDDEN</v-btn>
                            <v-btn v-else small @click="hideItem(item)" class="green--text">HIDE ITEM</v-btn>
                          </template>
                        </v-data-table>
                </v-card>
            </v-col>
            <MenuCategoryDialog :outlets="outlets" v-if="categoriesDialog"
            @close-categories-dialog="closeCategoriesDialog" />
            <MenuItemCreateDialog v-if="create" :menuCategories="categories"
            @close-menu-create-dialog="closeCreate" />
            <UpdateMenuItemDialog v-if="updateMenuItem" :MenuItem="selectedMenuItem"
            @close-menuitem-update-dialog="closeMenuUpdate" />
            <input type="file" id="menuItemsUpoadfileInput" accept=".xls, .xlsx" ref="fileInput" @change="readUploadedFile" style="display:none;">
            <MenuItemsExcelUpload v-if="openMenuitemsDialog" @close="openMenuitemsDialog = false" />
        </v-row>
    </div>
</template>
<script>
import MenuCategoryDialog from '@/components/scm/menu/createMenuCategoryModal.vue'
import MenuItemCreateDialog from '@/components/scm/menu/createMenuItem.vue'
import UpdateMenuItemDialog from '@/components/scm/menu/updateMenuItem.vue'
import MenuItemsExcelUpload from '@/components/scm/menu/menuItemsExcelUpload.vue'
import { mapActions, mapGetters } from 'vuex'
import readXlsxFile from 'read-excel-file'
import * as firebase from 'firebase'

export default {

  components: {
    MenuCategoryDialog,
    MenuItemCreateDialog,
    UpdateMenuItemDialog,
    MenuItemsExcelUpload
  },

  data () {
    return {
      openMenuitemsDialog: false,
      categoriesDialog: false,
      headers: [
        { text: 'Item Code', value: 'code', sortable: true },
        { text: 'Item Name', value: 'name', sortable: true },
        { text: 'Category', value: 'category', sortable: true },
        { text: 'Price', value: 'price', sortable: true },
        { text: 'Outlet', value: 'outlet', sortable: true },
        { text: 'Hidden', value: 'hidden', sortable: false },
        { text: 'Description', value: 'description', sortable: false },
        { text: '', value: 'update', sortable: false },
        { text: '', value: 'delete', sortable: false }
      ],
      create: false,
      search: '',
      updateMenuItem: false,
      selectedMenuItem: null,
      uploadSchema: {
        id: {
          prop: 'id',
          type: Number,
          required: true,
          parse (value) {
            return value
          }
        },
        name: {
          prop: 'name',
          type: String,
          required: true,
          parse (value) {
            return value.toUpperCase()
          }
        },
        price: {
          prop: 'price',
          type: Number,
          required: true,
          parse (value) {
            if (isNaN(value)) {
              throw new Error('Sorry invalid data found')
            } else {
              return parseFloat(value)
            }
          }
        },
        category: {
          prop: 'category',
          type: String,
          required: false
        },
        description: {
          prop: 'description',
          type: String,
          required: false
        }
      },
      uploadedFiles: null,
      productionReleased: false
    }
  },

  computed: {
    ...mapGetters('menu', ['menuCategories', 'menuItems']),
    ...mapGetters('auth', ['profile']),
    ...mapGetters('sections', ['outlets']),

    categories () {
      return this.menuCategories
    },
    menu () {
      return this.menuItems
    }

  },

  created () {
    firebase.firestore().collection('menuCategories')
      .onSnapshot(() => {
        this.loadCategories()
      })
  },

  methods: {
    ...mapActions('menu', ['loadCategories', 'hideOrShowMenuItem']),

    outletName (outletId) {
      const Outlet = this.outlets.find(Outlet => { return Outlet.id === outletId })
      if (Outlet) return Outlet.name
      else return ''
    },

    readUploadedFile (event) {
      const files = event.target.files
      const filename = files[0].name
      this.selectedFileName = filename
      const schema = this.uploadSchema
      let filesRead = []
      const errorsFound = []
      readXlsxFile(files[0], { schema }).then(({ rows, errors }) => {
        rows.forEach(element => {
          filesRead.push(element)
        })
        filesRead = rows
        errors.forEach(error => {
          errorsFound.push(error)
        })
      })
      this.uploadedFiles = filesRead
      this.errorsInFile = errorsFound
    },

    onPickFile () {
      this.$refs.fileInput.click()
    },
    closeCategoriesDialog () {
      this.categoriesDialog = false
    },

    openCategoriesDialog () {
      this.categoriesDialog = true
    },

    closeCreate () {
      this.create = false
    },
    createMenuItem () {
      this.create = true
    },

    categoryName (catId) {
      return this.categories.find(cat => { return cat.id === catId }).category
    },

    formatNumber (amount, decimalCount = 2, decimal = '.', thousands = ',') {
      return Number((amount).toFixed(1)).toLocaleString()
    },

    closeMenuUpdate () {
      this.updateMenuItem = false
    },

    MenuItemUpdate (item) {
      this.selectedMenuItem = item
      this.updateMenuItem = true
    },

    hideItem (item, hideState) {
      this.hideOrShowMenuItem({ id: item.id, hidden: !item.hidden })
    }
  }
}
</script>
<style scoped lang="scss">
    @import '@/styles/style.scss';

    .reports-bg {
        background-color: $blue!important;
        color: $white!important;
    }
</style>
