<template>
    <div>
         <v-row class="reports-bg font-weight-light">
            <v-col cols="12" xs="12" offset-sm="1" sm="10" offset-md="1" md="10">
                <h1 class="ma-1 font-weight-bold">Outlets And Workstations</h1>
                <small>You have {{ outlets.length }} outlets</small>
                <p>Logged in as {{ profile.name }}</p>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" xs="12" offset-sm="1" sm="10" offset-md="1" md="10">
              <v-card class="mx-auto">
                <v-toolbar dense flat>
                        <v-toolbar-title>Menu Items</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-text-field hide-details placeholder="Search..." single-line v-model="search"></v-text-field>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" icon class="black--text"
                                @click="newOutletModal = true">
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </template>
                            <span>Create Outlet</span>
                        </v-tooltip>
                    </v-toolbar>
                    <v-data-table :headers="headers" :items="outlets" :search="search" :items-per-page="10"
                    class="elevation-1 black--text font-weight-light">
                    <template v-slot:item.actions="{ item }">
                        <v-btn @click="updateOutlet(item)" text icon class="black--text font-weight-light">
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        </template>
                    </v-data-table>
                    <OutletModal v-if="newOutletModal" @close="newOutletModal = false" />
                    <OutletUpdateModal v-if="outleuUpdate && selectedOutlet" :outlet="selectedOutlet" @close="outleuUpdate = false; selectedOutlet = null" />
              </v-card>
            </v-col>
        </v-row>
    </div>
</template>
<script>
import OutletModal from '@/components/modals/newOutletModal.vue'
import OutletUpdateModal from '@/components/modals/updateOutlet.vue'

import { mapGetters, mapActions } from 'vuex'
import * as firebase from 'firebase'

export default {
  components: {
    OutletModal,
    OutletUpdateModal
  },

  data () {
    return {
      newOutletModal: false,
      outleuUpdate: false,
      selectedOutlet: null,
      search: '',
      headers: [
        { text: 'Outlet', value: 'name', sortable: true },
        { text: 'Location', value: 'address', sortable: false },
        { text: 'Day Open', value: 'day_open', sortable: false },
        { text: 'Location', value: 'contact', sortable: false },
        { text: '', value: 'actions', sortable: false }
      ]
    }
  },

  computed: {
    ...mapGetters('sections', ['outlets']),
    ...mapGetters('auth', ['profile'])
  },

  created () {
    firebase.firestore().collection('Outlets').where('company', '==', this.profile.company)
      .onSnapshot(() => {
        getSections()
      })

    const getSections = () => {
      this.getOutlets(this.profile.company)
    }
  },
  methods: {
    ...mapActions('sections', ['getOutlets']),

    updateOutlet (outlet) {
      this.selectedOutlet = outlet
      this.outleuUpdate = true
    }
  }

}
</script>
<style scoped lang="scss">
    @import '@/styles/style.scss';

    .reports-bg {
        background-color: $blue!important;
        color: $white!important;
    }
</style>
