<template>
    <v-container>
        <v-row>
            <v-col cols="12" xs="12" sm="6" offset-sm="3" md="6" offset-md="3">
                <v-card>
                    <Loading />
                    <v-img src="../assets/pos.jpg" height="200" />
                    <v-card-title class="font-weight-light">
                        Create new account
                    </v-card-title>
                    <v-divider></v-divider>

                    <v-form @submit.prevent="createAccount">
                    <v-card-text>
                      <v-row>
                        <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model.trim="companyname" label="Company Name"></v-text-field>
                        </v-col>
                        <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model.trim="address" label="Address"></v-text-field>
                         </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                          <v-text-field v-model.trim="contactNumber"
                                placeholder="+256 - 120..." type="text" label="Contact Number"></v-text-field>
                        </v-col>
                        <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                                <v-text-field v-model.trim="email" label="Email Address"></v-text-field>
                         </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                                <v-select
                                v-model="companyType"
                                :items="companytypes"
                                label="Business Type"
                                ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                            <v-text-field v-model.trim="password" label="Create Password"
                            type="password"></v-text-field>
                        </v-col>
                        <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                            <v-text-field v-model.trim="confirmpassword" label="Confirm Password"
                            type="password"></v-text-field>
                         </v-col>
                      </v-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn v-if="!loading" block dark type="submit" color="blue darken-3">
                          Create Account</v-btn>
                    </v-card-actions>
                  </v-form>

                <div class="text-center mt-3">
                    <v-btn :to="{ name: 'user-auth' }" text x-small
                    class="forgotpassword font-weight-light black--text">
                    Already have an account? sigin instead</v-btn>
                </div>
                <v-progress-linear v-if="loadingState" indeterminate color="blue darken-2"></v-progress-linear>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import validator from 'validator'
import { mapActions, mapGetters } from 'vuex'
import Loading from '@/components/_Generics/notifications/loading.vue'

export default {
  name: 'LoginForm',

  components: {
    Loading
  },

  data () {
    return {
      companyname: '',
      address: '',
      contactNumber: '',
      email: '',
      companyType: '',
      companytypes: [
        'Bar', 'Restaurant', 'Small Scale Business', 'Manufacturer'
      ],
      password: '',
      confirmpassword: ''
    }
  },

  computed: {
    ...mapGetters('auth', ['loadingState']),

    loading () {
      return this.loadingState
    }
  },

  methods: {
    ...mapActions('auth', ['setError', 'createNewAccount']),

    createAccount () {
      if (this.companyname.length < 4 || !validator.isAscii(this.companyname)) {
        this.setError('Sorry, Company Name must contain only letters (a-z, A-Z)')
      } else if (this.address.length < 4 || !validator.isAscii(this.address)) {
        this.setError('Sorry, Company Address must contain only letters (a-z, A-Z)')
      } else if (this.contactNumber.length < 9) {
        this.setError('Sorry, Contact Number Must be atleast 9 Characters Long')
      } else if (!validator.isEmail(this.email)) {
        this.setError('Sorry, You Entered An Invalid Email Address')
      } else if (this.companyType.length <= 0) {
        this.setError('Please Select Company Type')
      } else if (this.password.length <= 5) {
        this.setError('Please Create A password that is atleast 6 characters Long')
      } else if (this.password !== this.confirmpassword) {
        this.setError('Sorry, Passwords Do not match')
      } else {
        const newAccount = {
          name: this.companyname.toUpperCase(),
          address: this.address,
          mobile: this.contactNumber,
          email: this.email,
          type: this.companyType,
          password: this.password
        }
        this.createNewAccount(newAccount)
      }
    }
  }
}
</script>
<style scoped lang="scss">
    .input-row {
        display: grid;
        grid-template-columns: 50% 50%;

        .input-field:first-child {
            margin-right: 5px;
        }
        .input-field:last-child {
            margin-left: 5px;
        }
    }
</style>
