<template>
    <div>
        <v-row class="reports-bg font-weight-light">
            <v-col cols="12" xs="12" offset-sm="1" sm="10" offset-md="1" md="10">
                <h1 class="ma-1 font-weight-bold">Smart Client POS Reports</h1>
                <small>{{ dayOpen }}</small><br>
                <small>You have {{ pendingOrders.length }} running orders out of {{ allOrders.length }}</small>
                <p>Total Sale {{ totalSale }}</p>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" xs="12" offset-sm="1" sm="10" offset-md="1" md="10">
              <Sammary />
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" xs="12" offset-sm="1" sm="10" offset-md="1" md="10">
              <v-card>
                <GChart
                  type="ColumnChart"
                  :data="chartData"
                  :options="chartOptions"
                  :resizeDebounce="500"
                />
              </v-card>
            </v-col>
        </v-row>
    </div>
</template>
<script>
import ComputedMethodsMixin from '@/mixins/computations'
import SalesSammary from '@/mixins/sales'
import Sammary from '@/components/reports/salesSammary.vue'
import moment from 'moment'

export default {
  components: {
    Sammary
  },

  mixins: [
    ComputedMethodsMixin,
    SalesSammary
  ],

  data () {
    return {
      dayOpen: moment().format('DD-MM-YYYY'),
      chartData: [
        ['Settlement', 'Amount'],
        ['cash', 1000],
        ['visa', 1170],
        ['mm', 660],
        ['credit', 1030]
      ],
      chartOptions: {
        chart: {
          title: 'Company Performance',
          subtitle: 'Settlement sammary'
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
    @import '@/styles/style.scss';

    .reports-bg {
        background-color: $blue!important;
        color: $white!important;
    }
</style>
