<template>
    <v-container>
        <v-row>
            <v-col cols="12" xs="12" sm="10" offset-sm="1" md="10" offset-md="1">
                <v-card class="mx-auto">
                    <v-toolbar dense>
                        <v-toolbar-title>Tables And Sections</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-text-field hide-details placeholder="Search..." single-line v-model="search"></v-text-field>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" @click="openSectionsDialog"
                                icon class="black--text">
                                    <v-icon>mdi-shape</v-icon>
                                </v-btn>
                            </template>
                            <span>View Sections</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" @click="createTable" icon class="black--text">
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </template>
                            <span>Create Table</span>
                        </v-tooltip>
                    </v-toolbar>
                        <v-data-table :headers="headers" :items="tables" :search="search" :items-per-page="5" class="elevation-1 black--text font-weight-light">
                          <template v-slot:item.section="{ item }">
                            {{ sectionName(item.section) }}
                          </template>
                          <template v-slot:item.hide="{ item }">
                            <small v-if="item.hidden">HIDDEN</small>
                            <small v-else>ACTIVE</small>
                          </template>
                          <template v-slot:item.update="{ item }">
                            <v-btn small icon @click="updateTable(item)" class="black--text"><v-icon>mdi-pencil</v-icon></v-btn>
                          </template>
                          <template v-slot:item.actions="{ item }">
                            <v-btn v-if="item.hidden" small @click="showTable(item.id)" class="green--text">SHOW</v-btn>
                            <v-btn v-else @click="hideTable(item.id)" small class="red--text">HIDE</v-btn>
                          </template>
                        </v-data-table>
                </v-card>
            </v-col>
        </v-row>
        <SectionsModal v-if="sectionsDialog" @close-sections-dialog="closeSectionsDialog" />
        <CreateTableDialog v-if="create" :AreaSections="sections" @close-create-modal="closeCreate" />
        <UpdateTableDialog v-if="tableUpdate" :selectedTable="selectedTable" @close-table-update-dialog="closeTableUpload" />
    </v-container>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import SectionsModal from '@/components/scm/tablesAndSections/sectionsModal.vue'
import CreateTableDialog from '@/components/scm/tablesAndSections/createTableModal.vue'
import UpdateTableDialog from '@/components/scm/tablesAndSections/updateTableModal.vue'

export default {

  components: {
    SectionsModal,
    CreateTableDialog,
    UpdateTableDialog
  },

  data () {
    return {
      selectedTable: null,
      sectionsDialog: false,
      tableUpdate: false,
      create: false,
      headers: [
        { text: 'Table', value: 'table', sortable: true },
        { text: 'Section', value: 'section', sortable: true },
        { text: 'Status', value: 'hide', sortable: false },
        { text: 'Update', value: 'update', sortable: false },
        { text: '', value: 'actions', sortable: false }
      ],
      search: ''
    }
  },

  computed: {
    ...mapGetters('auth', ['profile']),
    ...mapGetters('sections', ['loadedTables', 'loadedSections']),

    userProfile () {
      return this.profile
    },

    tables () {
      return this.loadedTables
    },

    sections () {
      return this.loadedSections
    }

  },

  methods: {
    ...mapActions('sections', ['hideRestaurantTable', 'showRestaurantTable']),

    hideTable (tableId) {
      this.hideRestaurantTable(tableId)
    },

    showTable (tableId) {
      this.showRestaurantTable(tableId)
    },

    updateTable (table) {
      this.selectedTable = table
      this.tableUpdate = true
    },

    closeTableUpload () {
      this.tableUpdate = false
    },
    sectionName (sectionId) {
      return this.loadedSections.find((section) => { return section.id === sectionId }).section
    },

    closeSectionsDialog () {
      this.sectionsDialog = false
    },
    openSectionsDialog () {
      this.sectionsDialog = true
    },
    createTable () {
      this.create = true
    },

    closeCreate () {
      this.create = false
    }
  }
}
</script>
