<template>
    <div>
         <v-row class="reports-bg font-weight-light">
            <v-col cols="12" xs="12" offset-sm="1" sm="10" offset-md="1" md="10">
                <h1 class="ma-1 font-weight-bold">Employees</h1>
                <small>You have {{ employees.length }} employees</small>
                <p>Logged in as {{ profile.name }}</p>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" xs="12" offset-sm="1" sm="10" offset-md="1" md="10">
              <v-card class="mx-auto">
                <v-toolbar dense flat>
                        <v-toolbar-title>Employees</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-text-field hide-details placeholder="Search..." single-line v-model="search"></v-text-field>
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" icon class="black--text"
                                @click="newEmployeeModal = true">
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </template>
                            <span>Create Employee</span>
                        </v-tooltip>
                    </v-toolbar>
                    <v-data-table :headers="headers" :items="employees" :search="search" :items-per-page="10"
                    class="elevation-1 black--text font-weight-light">
                        <template v-slot:item.role="{ item }">
                            {{ getUserRole(item.role) }}
                        </template>
                        <template v-slot:item.outlet="{ item }">
                            {{ getOutletName(item.outlet) }}
                        </template>
                        <template v-slot:item.status="{ item }">
                            <v-btn @click="toggleUserStatus(item)" v-if="item.status" text icon class="green--text font-weight-light">
                                <v-icon left>mdi-checkbox-marked-circle-outline</v-icon>
                            </v-btn>
                            <v-btn v-else @click="toggleUserStatus(item)" text icon class="red--text font-weight-light">
                                <v-icon>mdi-checkbox-blank-circle-outline</v-icon>
                            </v-btn>
                        </template>
                        <template v-slot:item.actions="{ item }">
                            <v-btn @click="updateEmployee(item)" text icon class="black--text font-weight-light">
                                <v-icon>mdi-pencil</v-icon>
                            </v-btn>
                        </template>
                    </v-data-table>
                    <CreateEmployeeModal v-if="newEmployeeModal" @close="newEmployeeModal = false" />
                    <UpdateUserModal v-if="updateUserDialog && selectedEmployee" :employee="selectedEmployee" @close="updateUserDialog = false; selectedEmployee = null" />
              </v-card>
            </v-col>
        </v-row>
    </div>
</template>
<script>
import CreateEmployeeModal from '@/components/modals/newEmployeeModal.vue'
import UpdateUserModal from '@/components/modals/updateUserModal.vue'

import { mapGetters, mapActions } from 'vuex'
import * as firebase from 'firebase'

export default {
  components: {
    CreateEmployeeModal,
    UpdateUserModal
  },

  data () {
    return {
      newEmployeeModal: false,
      updateUserDialog: false,
      selectedEmployee: null,
      search: '',
      headers: [
        { text: 'Name', value: 'name', sortable: true },
        { text: 'Email', value: 'email', sortable: false },
        { text: 'Outlet', value: 'outlet', sortable: true },
        { text: 'Role', value: 'role', sortable: false },
        { text: 'Is Active', value: 'status', sortable: false },
        { text: '', value: 'actions', sortable: false }
      ]
    }
  },

  computed: {
    ...mapGetters('manage', ['employees', 'roles']),
    ...mapGetters('auth', ['profile']),
    ...mapGetters('sections', ['outlets'])
  },

  created () {
    firebase.firestore().collection('UserRoles')
      .onSnapshot(() => {
        loadRoles()
      })
    firebase.firestore().collection('Outlets').where('company', '==', this.profile.company)
      .onSnapshot(() => {
        getSections()
      })
    firebase.firestore().collection('Accounts').where('company', '==', this.profile.company)
      .onSnapshot(() => {
        getEmployees()
      })

    const getEmployees = () => {
      this.loadUsers(this.profile.company)
    }

    const getSections = () => {
      this.getOutlets(this.profile.company)
    }

    const loadRoles = () => {
      this.loadCompanyRoles()
    }
  },
  methods: {
    ...mapActions('manage', ['loadUsers', 'loadCompanyRoles', 'updateUserStatus']),
    ...mapActions('sections', ['getOutlets']),

    toggleUserStatus (user) {
      const askUer = confirm('Are you sure you want to change user status?')
      if (askUer) {
        this.updateUserStatus({ id: user.id, update: { status: !user.status } })
      }
    },

    getOutletName (outletId) {
      const index = this.outlets.findIndex(Outlet => { return Outlet.id.match(outletId) })
      if (index >= 0) return this.outlets[index].name
      else return ''
    },

    getUserRole (roleId) {
      const index = this.roles.findIndex(Role => { return Role.id.match(roleId) })
      if (index >= 0) return this.roles[index].role.toUpperCase()
      else return ''
    },

    updateEmployee (outlet) {
      this.selectedEmployee = outlet
      this.updateUserDialog = true
    }
  }

}
</script>
<style scoped lang="scss">
    @import '@/styles/style.scss';

    .reports-bg {
        background-color: $blue!important;
        color: $white!important;
    }
</style>
