<template>
  <v-row justify="center">
    <v-dialog persistent v-model="dialog" max-width="800">
      <v-card class="optionsDialog">
        <v-toolbar dense flat>
            <v-toolbar-title v-text="'Sales'" class="text-center" />
            <v-spacer></v-spacer>
            <v-btn icon class="black--text"
              @click="$emit('close')">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-toolbar>
        <v-card-text class="pt-3 black--text">
          <p v-text="company.name" class="text-center display-1"/>
          <p v-text="outletLocation(profile.outlet)" class="text-center"/>
          <p class="text-center">{{ `${getOutletName(profile.outlet)} Branch , ${company.mobile}` }}</p>
          <p class="text-center">{{ reportDate(profile.outlet) }}</p>
          <v-divider class="mb-2"></v-divider>
            <v-container fluid>
              <v-row>
                <v-col cols="12" xs="12" sm="6" md="4" lg="4">
                  <v-container fluid>
                    <v-row>
                      <v-col cols="12" xs="6" sm="6" md="6" lg="6">
                        Total sale
                      </v-col>
                        <v-col cols="12" xs="6" sm="6" md="6" lg="6">
                          <div class="settled-amount">{{ totalSale() }}</div>
                        </v-col>
                    </v-row>
                  </v-container>
                </v-col>
                <v-col cols="12" xs="12" sm="6" md="4" lg="4"
                  v-for="settlement in paymentTypes"  :key="settlement.id">
                  <v-container fluid>
                    <v-row>
                      <v-col cols="12" xs="6" sm="6" md="6" lg="6">
                        {{ settlement.settlement }}
                      </v-col>
                        <v-col cols="12" xs="6" sm="6" md="6" lg="6">
                          <div class="settled-amount">
                            {{ paymentSettledSammary(settlement.id) }}
                          </div>
                        </v-col>
                    </v-row>
                  </v-container>
                </v-col>
              </v-row>
            </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'OutletSalesModal',

  props: {
    profile: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      dialog: true,
      outletWorkingWith: null
    }
  },

  computed: {
    ...mapGetters('auth', ['company']),
    ...mapGetters('order', ['paymentTypes', 'allPayments']),
    ...mapGetters('sections', ['outlets'])
  },

  methods: {
    getOutletName (OutletId) {
      const Outlet = this.outlets.find(Outlet => { return Outlet.id === OutletId })
      if (Outlet) return `${Outlet.name}`
      else return ''
    },

    outletLocation (outletId) {
      const OutletDetails = this.outlets.find((Outlet) => { return Outlet.id.match(outletId) })
      if (OutletDetails) return OutletDetails.address
      else return ''
    },

    reportDate (OutletId) {
      const Outlet = this.outlets.find(Outlet => { return Outlet.id === OutletId })
      if (Outlet) return `Date: ${Outlet.day_open}`
      else return 'Date undefined'
    },

    paymentSettledSammary (paymentId) {
      const payments = this.allPayments.filter(Payment => { return Payment.payment.match(paymentId) })
      let amount = 0
      payments.forEach(payment => {
        amount += parseFloat(payment.amount)
      })
      return amount
    },

    totalSale () {
      let amount = 0
      this.allPayments.forEach(payment => {
        amount += parseFloat(payment.amount)
      })
      return amount
    }
  }

}
</script>
<style>
  .settled-amount {
    border: 1px solid #cfcfcf;
    padding: 5px;
    text-align: left;
    color: #000;
    font-family: monospace;
  }
</style>
