<template>
  <v-container fluid>
    <v-row>
      <v-col class="nav-pane" cols="12" xs="12" sm="3" md="3" lg="3" xl="3">
        <NavPane />
      </v-col>
      <v-col cols="12" xs="12" sm="9" md="9" lg="9" xl="9">
        <router-view></router-view>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import NavPane from '@/components/landing/navPanel.vue'

export default {
  name: 'LandingPage',
  components: {
    NavPane
  }
}
</script>
<style>
  .nav-pane {
    top: 0;
    bottom: 0;
  }
</style>
