<template>
    <div>
    <!-- <div class="sidebar">
      <div id="dpSidebarBody" class="sidebar-body">
          <AdminNavmenu />

      </div>
    </div> -->

      <!-- <div class="content-header justify-content-between">
        <div>
          <h4 class="content-title">Dashboard</h4>
        </div>
        <div>
          <h6 class="content-title-sm">Thursday 20th jan 2020</h6>
        </div>
      </div> content-header -->
      <div class="content-body">
        <v-container fluid class="row row-sm">
          <v-row>
              <v-col cols="12" xs="12" sm="12" lg="8" xl="8">
                <SalesSammary />
              </v-col>
              <v-col cols="12" xs="12" sm="12" lg="4" xl="4">
                <CreditSales />
              </v-col>
          </v-row>
        </v-container>
        <div class="row row-sm mg-t-15 mg-sm-t-20">
        <OutletsOverview />
          <div class="col-sm-6 col-xl-4 mg-t-15 mg-sm-t-20 mg-xl-t-0">
            <div class="card card-hover card-customer-score">
              <div class="card-header bg-transparent">
                <h6 class="card-title mg-b-0">Customer Satisfaction</h6>
                <nav class="nav nav-card-icon">
                  <a href="dashboard-one.html"><i data-feather="download"></i></a>
                  <a href="dashboard-one.html"><i data-feather="printer"></i></a>
                  <a href="dashboard-one.html"><i data-feather="more-horizontal"></i></a>
                </nav>
              </div>

              <div class="card-body pd-t-10">
                <h1 class="card-value mg-b-5">9.7<small class="tx-danger"><i class="icon ion-android-arrow-down"></i> 2.8%</small></h1>
                <p class="tx-12 tx-color-03">Performance Score</p>
                <div class="progress bg-transparent ht-10 mg-b-15">
                  <div class="progress-bar bg-blue wd-50p" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-green wd-25p bd-l bd-white" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-orange wd-5p bd-l bd-white" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-pink wd-5p bd-l bd-white" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-brand-02 wd-10p bd-l bd-white" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-primary wd-5p bd-l bd-white" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <table class="table-card">
                  <tbody>
                    <tr>
                      <td><div class="bd-blue"></div></td>
                      <td class="tx-medium">Excellent</td>
                      <td class="text-right">3,007</td>
                      <td class="text-right">50%</td>
                    </tr>
                    <tr>
                      <td><div class="bd-green"></div></td>
                      <td class="tx-medium">Very Good</td>
                      <td class="text-right">1,674</td>
                      <td class="text-right">25%</td>
                    </tr>
                    <tr>
                      <td><div class="bd-orange"></div></td>
                      <td class="tx-medium">Good</td>
                      <td class="text-right">125</td>
                      <td class="text-right">6%</td>
                    </tr>
                    <tr>
                      <td><div class="bd-pink"></div></td>
                      <td class="tx-medium">Fair</td>
                      <td class="text-right">98</td>
                      <td class="text-right">5%</td>
                    </tr>
                    <tr>
                      <td><div class="bd-brand-02"></div></td>
                      <td class="tx-medium">Poor</td>
                      <td class="text-right">512</td>
                      <td class="text-right">10%</td>
                    </tr>
                    <tr>
                      <td><div class="bd-brand-01"></div></td>
                      <td class="tx-medium">Very Poor</td>
                      <td class="text-right">81</td>
                      <td class="text-right">4%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4 mg-t-15 mg-sm-t-20">
            <div class="card card-hover card-pie-one">
              <div class="card-header bg-transparent">
                <h6 class="card-title mg-b-0">Campaign By Channel</h6>
                <nav class="nav nav-card-icon">
                  <a href="dashboard-one.html"><i data-feather="help-circle"></i></a>
                  <a href="dashboard-one.html"><i data-feather="more-horizontal"></i></a>
                </nav>
              </div>
              <div class="card-body">
                <div class="chart-wrapper mg-b-25"><canvas id="chartDonut"></canvas></div>
                <div class="row row-sm">
                  <div class="col-6">
                    <p class="tx-12 mg-b-5">Organic Search</p>
                    <h4><span>3,104</span> <small>25%</small></h4>
                    <div class="progress">
                      <div class="progress-bar wd-25p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-6">
                    <p class="tx-12 mg-b-5">Email Campaign</p>
                    <h4><span>2,679</span> <small>20%</small></h4>
                    <div class="progress">
                      <div class="progress-bar bg-blue wd-20p" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-6 mg-t-20">
                    <p class="tx-12 mg-b-5">Referral Links</p>
                    <h4><span>4,236</span> <small>30%</small></h4>
                    <div class="progress">
                      <div class="progress-bar bg-green wd-30p" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-6 mg-t-20">
                    <p class="tx-12 mg-b-5">Social Media</p>
                    <h4><span>3,068</span> <small>27%</small></h4>
                    <div class="progress">
                      <div class="progress-bar bg-pink wd-25p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4 mg-t-15 mg-sm-t-20">
            <div class="card card-hover card-pie-two">
              <div class="card-header bg-transparent">
                <h6 class="card-title mg-b-0">Expenses</h6>
                <nav class="nav nav-time-range">
                  <a href="dashboard-one.html">D</a>
                  <a href="dashboard-one.html">W</a>
                  <a href="dashboard-one.html" class="active">M</a>
                  <a href="dashboard-one.html">Y</a>
                </nav>
              </div>

              <div class="card-body">
                <h3 class="card-value"><span>$</span>29,060<small>.00</small></h3>
                <p class="tx-12 mg-b-10">as of this month</p>

                <div class="row row-xs align-items-center mg-b-20">
                  <div class="col-6">
                    <ul class="list-unstyled mg-b-0">
                      <li>
                        <h6 class="tx-color-01 tx-numeric tx-normal mg-b-5">$3,011.20 <span class="bg-blue"></span></h6>
                        <p class="tx-11 tx-color-04 mg-b-0">Personal expense</p>
                      </li>
                      <li>
                        <h6 class="tx-color-01 tx-numeric tx-normal mg-b-5">$4,870.80 <span class="bg-green"></span></h6>
                        <p class="tx-11 tx-color-04 mg-b-0">Medical expense</p>
                      </li>
                      <li>
                        <h6 class="tx-color-01 tx-numeric tx-normal mg-b-5">$10,107.00 <span class="bg-purple"></span></h6>
                        <p class="tx-11 tx-color-04 mg-b-0">Other expense</p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <div class="chart-wrapper"><canvas id="chartDonut2"></canvas></div>
                  </div>
                </div>

                <label class="content-label mg-b-5">Recent Transactions</label>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div>
                      <h6>School supplies</h6>
                      <span>Today, Jul 28, 2019</span>
                    </div>
                    <div class="tx-right">
                      <h6>$50.50</h6>
                      <span class="badge bg-purple tx-white">Other</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div>
                      <h6>Paracetamol</h6>
                      <span>Today, Jul 28, 2019</span>
                    </div>
                    <div>
                      <h6>$78.30</h6>
                      <span class="badge bg-green tx-white">Medical</span>
                    </div>
                  </li>
                </ul>
                <a href="dashboard-one.html" class="link-02 tx-12">View All Transactions <i class="icon ion-android-arrow-forward"></i></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4 mg-t-15 mg-sm-t-20">
            <div class="card card-hover card-overall-rating">
              <div class="card-header bg-transparent pd-t-15 pd-r-15 pd-b-2 bd-b-0">
                <h6 class="card-title mg-b-0">Overall Rating</h6>
                <nav class="nav nav-card-icon">
                  <a href="dashboard-one.html"><i data-feather="help-circle"></i></a>
                  <a href="dashboard-one.html"><i data-feather="more-vertical"></i></a>
                </nav>
              </div>
              <div class="card-body pd-t-5 pd-b-15">
                <div class="d-flex align-items-end mg-b-5">
                  <h1 class="card-value">4.6</h1>
                  <div class="stars mg-l-5">
                    <i class="icon ion-ios-star active"></i>
                    <i class="icon ion-ios-star active"></i>
                    <i class="icon ion-ios-star active"></i>
                    <i class="icon ion-ios-star active"></i>
                    <i class="icon ion-ios-star"></i>
                  </div>
                </div>
                <p class="tx-11 tx-color-03">Measures the quality or your support team’s efforts.</p>

                <ul class="list-group list-group-flush mg-b-20">
                  <li class="list-group-item">
                    <div>5.0</div>
                    <div class="stars">
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star active"></i>
                    </div>
                    <div>4,230</div>
                    <div>58%</div>
                  </li>
                  <li class="list-group-item">
                    <div>4.0</div>
                    <div class="stars">
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star"></i>
                    </div>
                    <div>2,416</div>
                    <div>24%</div>
                  </li>
                  <li class="list-group-item">
                    <div>3.0</div>
                    <div class="stars">
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star"></i>
                      <i class="icon ion-ios-star"></i>
                    </div>
                    <div>1,080</div>
                    <div>16%</div>
                  </li>
                  <li class="list-group-item">
                    <div>2.0</div>
                    <div class="stars">
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star"></i>
                      <i class="icon ion-ios-star"></i>
                      <i class="icon ion-ios-star"></i>
                    </div>
                    <div>885</div>
                    <div>8%</div>
                  </li>
                  <li class="list-group-item">
                    <div>1.0</div>
                    <div class="stars">
                      <i class="icon ion-ios-star active"></i>
                      <i class="icon ion-ios-star"></i>
                      <i class="icon ion-ios-star"></i>
                      <i class="icon ion-ios-star"></i>
                      <i class="icon ion-ios-star"></i>
                    </div>
                    <div>546</div>
                    <div>12%</div>
                  </li>
                </ul>

                <div class="d-flex align-items-center justify-content-between mg-b-15">
                  <label class="content-label mg-b-0">Reviews</label>
                  <label class="tx-11 mg-b-0">Sort: <a href="dashboard-one.html" class="link-03">Most Recent <i class="icon ion-ios-arrow-down"></i></a></label>
                </div>
                <div class="review-item mg-b-15">
                  <div class="media mg-b-10">
                    <div class="avatar avatar-sm"><span class="avatar-initial rounded-circle bg-green">d</span></div>
                    <div class="media-body mg-l-10">
                      <h6 class="tx-13 mg-b-2">Dyanne Rose Aceron</h6>
                      <div class="stars">
                        <i class="icon ion-ios-star active"></i>
                        <i class="icon ion-ios-star active"></i>
                        <i class="icon ion-ios-star active"></i>
                        <i class="icon ion-ios-star"></i>
                        <i class="icon ion-ios-star"></i>
                        <span class="tx-color-04 tx-11 mg-l-5">5 hours ago</span>
                      </div>
                    </div>
                  </div>
                  <p class="tx-12 tx-color-03 mg-b-0">Sed ut perspiciatis unde omnis iste natus error sit tatem accu santium remque...<a href="dashboard-one.html">Read more</a></p>
                </div>
                <a href="dashboard-one.html" class="tx-12 link-03 d-block tx-center bd-t pd-t-10">View All Reviews <i class="icon ion-android-arrow-forward"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
// import AdminNavmenu from '@/components/admin/nav.vue'
import SalesSammary from '@/components/admin/salesSammary.vue'
import CreditSales from '@/components/admin/creditSales.vue'
import OutletsOverview from '@/components/admin/outletsOverview.vue'

export default {
  components: {
    // AdminNavmenu,
    SalesSammary,
    CreditSales,
    OutletsOverview
  }
}
</script>

<style scoped lang="scss">
    @import '../../styles/admin/css/cassie.css';

</style>
