<template>
    <v-app-bar v-if="details" color="white" elevation="1">
      <v-icon left>mdi-home</v-icon>
      <v-toolbar-title>{{ details.Name }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-app-bar>
</template>
<script>

export default {
  name: 'OutletAppBar',

  props: {
    details: {
      type: Object,
    },
  },

};
</script>
