<template>
    <v-progress-linear v-if="Isloading" indeterminate color="black"></v-progress-linear>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Loading',

  computed: {
    ...mapGetters('auth', ['loadingState']),
    Isloading () {
      return this.loading
    }
  }
}
</script>
