<template>
  <div class="text-center">
    <v-snackbar top v-model="snackbar.status" :timeout="timeout">
      {{ snackbar.message }}
      <v-btn color="blue" text @click="closeSnack">
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Notification',

  data: () => ({
    timeout: 5000
  }),

  computed: {
    ...mapGetters('auth', ['getError']),
    snackbar () {
      return this.getError
    }
  },

  methods: {
    ...mapActions('auth', ['clearError']),

    closeSnack () {
      this.clearError()
    }
  }

}
</script>
