<template>
  <v-app>
    <v-navigation-drawer class="font-weight-light" v-if="user" v-model="dialog" absolute temporary>
      <v-list-item>
        <v-list-item-avatar>
          <v-img src="./assets/logo.png"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-weight-light">{{ user.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>
      <v-list dense>
        <v-list-item :to="item.page" v-for="item in routes" :key="item.title" link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="font-weight-light">{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="user" @click="logOut()">
          <v-list-item-icon>
            <v-icon>mdi-power-off</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="font-weight-light">Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <template v-if="user">
      <v-app-bar dense flat app class="homeNavBar font-weight-light" dark>
          <v-app-bar-nav-icon @click="dialog =true" dark></v-app-bar-nav-icon>
              <div class="d-flex align-center">
            <router-link to="/" style="cusor: pointer;color: white!important;">
                <span>Smart Client POS</span>
            </router-link>
              </div>
            <v-spacer></v-spacer>

            <div class="d-none d-sm-flex font-weight-light">
            <template v-if="!user">
              <v-btn text to="/">
                <v-icon left>mdi-arrow-left</v-icon>
                <span>Login</span>
              </v-btn>
            </template>
            <template v-else>
              <v-btn small class="ma-2" outlined text color="white">
                Day Open {{ outletDayOpen }}
              </v-btn>
              <v-btn small class="ma-2" outlined text color="white">
                License Expires
              </v-btn>
              <v-btn small @click="showOptions()" class="ma-2" outlined text color="white">
                <v-icon>mdi-cog</v-icon>
              </v-btn>
                <v-btn text class="font-weight-light">{{ user.name }}</v-btn>
                <v-btn @click="logOut" text class="font-weight-light">
                  <span>Logout</span>
                  <v-icon right>mdi-open-in-new</v-icon>
                </v-btn>
            </template>
            </div>
      </v-app-bar>
    </template>
    <template v-else>
      <v-app-bar dense flat app class="homeNavBar font-weight-light" dark>
            <div class="d-flex align-center">
              <template :to="{ name: 'home' }">
                Smart Client POS
              </template>
            </div>
            <v-spacer></v-spacer>

            <div class="font-weight-light">
              <v-btn text :to="{ name: 'user-auth' }">
                <v-icon left>mdi-arrow-left</v-icon>
                <span>Login</span>
              </v-btn>
            </div>
      </v-app-bar>
    </template>

    <v-main class="main-content">
        <router-view/>
        <Notification />
        <OptionsModal v-if="options" @close="closeOptions" @openday="openDay" @sales="openSalesModal()" />
        <SelectDayModal v-if="switchDay" @close="switchDay = false" @open="switchOutletDay" />
        <OutletSalesModal v-if="showSales && profile" :profile="profile" @close="showSales = false" />
    </v-main>
  </v-app>
</template>

<script>
import Notification from '@/components/_Generics/notifications/notify.vue'
import OptionsModal from '@/components/modals/optionsModal.vue'
import SelectDayModal from '@/components/modals/selectDayModal.vue'
import OutletSalesModal from '@/components/modals/outlet/sales.vue'
import * as firebase from 'firebase'
import { mapGetters, mapActions } from 'vuex'
import moment from 'moment'
moment.defaultFormat = 'DD.MM.YYYY HH:mm'

export default {
  name: 'App',

  components: {
    Notification,
    OptionsModal,
    SelectDayModal,
    OutletSalesModal
  },

  data: () => ({
    dialog: false,
    options: false,
    switchDay: false,
    outletDayOpen: '',
    showSales: false
  }),

  watch: {
    profile (newVal) {
      if (newVal && newVal.company) {
        this.getOutlets(newVal.company)
        this.getCompanyInfo(newVal.company)
        this.setLoaders(newVal.company)
        this.loadUsers(newVal.company)
      }
    },
    outlets (newVal) {
      if (newVal && newVal.length > 0) {
        const outlet = newVal.find(Outlet => { return Outlet.id === this.profile.outlet })
        if (outlet) {
          this.outletDayOpen = outlet.day_open
          this.loadOrdersAndItems(outlet.day_open)
        }
      }
    }
  },

  computed: {
    ...mapGetters('auth', ['profile', 'routes', 'company', 'license']),
    ...mapGetters('sections', ['outlets']),

    user () {
      if (this.profile) return this.profile
      else return null
    }
  },

  mounted () {
    this.loadPaymentTypes()
  },

  methods: {
    ...mapActions('auth', ['performLogout', 'getCompanyInfo']),
    ...mapActions('manage', ['loadUsers']),
    ...mapActions('order', [
      'loadPaymentTypes',
      'loadPayments',
      'fetchOrderItems',
      'loadOrders',
      'loadCLients'
    ]),
    ...mapActions('menu', [
      'loadMenu',
      'loadCategories'
    ]),
    ...mapActions('sections', ['getOutlets', 'closeCompanyDay']),

    openSalesModal () {
      this.options = false
      this.showSales = true
    },

    loadOrdersAndItems (DAY_OPEN) {
      firebase.firestore().collection('ClientOrders')
        .where('company', '==', this.profile.company)
        .where('outlet', '==', this.profile.outlet)
        .where('date', '==', DAY_OPEN)
        .onSnapshot(() => {
          this.loadOrders({ day: DAY_OPEN, company: this.profile.company })
        })
      firebase.firestore().collection('OrderItems')
        .where('company', '==', this.profile.company)
        .where('date', '==', DAY_OPEN)
        .where('outlet', '==', this.profile.outlet)
        .onSnapshot(() => {
          this.fetchOrderItems({ day: DAY_OPEN, company: this.profile.company, outlet: this.profile.outlet })
        })
      firebase.firestore().collection('Payments')
        .where('company', '==', this.profile.company)
        .where('date', '==', DAY_OPEN)
        .where('outlet', '==', this.profile.outlet)
        .onSnapshot(() => {
          this.loadPayments({ company: this.profile.company, outlet: this.profile.outlet, day_open: DAY_OPEN })
          // console.log('2days Earlier', moment().day(-3).format('DD-MM-YYYY'))
        })
    },

    setLoaders (company) {
      const COMPANY = company
      firebase.firestore().collection('Outlets')
        .where('company', '==', COMPANY)
        .onSnapshot(() => {
          this.getOutlets(COMPANY)
        })
      firebase.firestore().collection('menuCategories')
        .where('company', '==', COMPANY)
        .onSnapshot(() => {
          this.loadCategories()
        })
      firebase.firestore().collection('menuItems')
        .where('company', '==', COMPANY)
        .onSnapshot(() => {
          this.loadMenu()
        })
      firebase.firestore().collection('POSClients')
        .where('company', '==', COMPANY)
        .onSnapshot(() => {
          this.loadCLients()
        })
    },

    logOut () {
      this.performLogout()
    },

    closeOptions () {
      this.options = false
    },

    showOptions () {
      this.options = true
    },

    openDay () {
      this.options = false
      this.switchDay = true
    },

    switchOutletDay (daySelected) {
      const data = {
        outlet: this.profile.outlet,
        day_selected: daySelected
      }
      this.closeCompanyDay(data)
    }
  }
}
</script>
<style scoped lang="scss">
  @import './styles/style.scss';

  .main-content {
    background-color: #ecebeb!important;
  }
  .homeNavBar {
    background-color: $blue!important;
  }
</style>
