<template>
  <v-row justify="center">
    <v-expansion-panels accordion>
      <v-expansion-panel class="sectionInside" v-for="section in sections" :key="section.id">
        <v-expansion-panel-header class="grey lighten-4 black--text">
          {{ section.section }}</v-expansion-panel-header>
        <v-expansion-panel-content>
          <tableItem @order-selected="setOrderSelected" :orders="orders" :tables="getSectionTables(section.id)" />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-row>
</template>
<script>
import tableItem from '@/components/_Generics/restaurant/restaurantTable.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'sectionItem',

  props: {
    orders: {
      type: Array
    }
  },

  components: {
    tableItem
  },

  computed: {
    ...mapGetters('sections', ['loadedTables', 'loadedSections']),

    sections () {
      return this.loadedSections.filter((section) => { return section.hidden === false })
    }
  },

  methods: {
    getSectionTables (sectionId) {
      return this.loadedTables.filter((table) => { return table.section === sectionId })
    },

    setOrderSelected (order) {
      this.$emit('view-order-details', order)
    }

  }

}
</script>
<style scoped>
    .sectionInside {
        padding: 0px!important;
        background-color: inherit!important;
    }
</style>
