<template>
  <v-container>
    <div v-for="table in tables" :key="table.id">
      <v-card elevation="1" @click="viewOrder(tableOrder(table.id))" v-if="tableOrder(table.id)"
        class="category-item-order blue darken-3" height="70">
            <v-card-text class="">
            <div class="white--text text-center font-weight-normal">{{ table.table }}</div>
            <div class="white--text text-center text-caption font-weight-light">{{ tableOrder(table.id).time }}</div>
            </v-card-text>
        </v-card>
        <v-card elevation="1" v-else @click="createDiningOrder(table.id, table.section)"
        class="category-item" height="70">
            <v-card-text @click="createDiningOrder(table.id, table.section)">
            <div class="black--text text-center font-weight-normal">{{ table.table }}</div>
            <div class="white--text text-center text-caption font-weight-light"></div>
            </v-card-text>
        </v-card>
    </div>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import moment from 'moment'
moment.defaultFormat = 'DD.MM.YYYY HH:mm'

export default {
  name: 'tableItem',

  props: {
    tables: {
      type: Array
    },
    orders: {
      type: Array
    }
  },

  data: () => ({
    width: 70,
    height: 50,
    elevation: 4,
    colors: ['white', 'gray darken-2', 'warning', 'error', 'success', 'teal'],
    color: 'white',
    tile: false
  }),

  computed: {
    ...mapGetters('auth', ['profile']),

    companyProfile () {
      return this.profile
    }
  },

  methods: {
    ...mapActions('order', ['createOrder']),

    createDiningOrder (tableId, section) {
      const newOrder = {
        company: this.companyProfile.company,
        createdby: this.companyProfile.id,
        client: 'NONE',
        date: moment().format('DD-MM-YYYY'),
        time: moment().format('hh:mm:ss a'),
        settlement: 0,
        status: 0,
        table: tableId,
        section: section
      }
      this.createOrder(newOrder)
    },

    tableOrder (tableId) {
      return this.orders.find((Order) => {
        return Order.table === tableId
      })
    },

    viewOrder (order) {
      this.$emit('order-selected', order)
    }

  }

}
</script>

<style scoped lang="scss">
.v-input__slider, .v-select {
  width: 100%;
}
.mTable {
    width: 100%;
}
.category-item {
  margin: 3px !important;
  cursor: pointer;
  width: 100%!important;
  color: white!important;
}

.category-item-order {
  margin: 3px !important;
  cursor: pointer;
  width: 100%!important;
  color: white!important;
}

.category-item:hover {
    background: rgba(75, 75, 126, 0.1)!important;
    cursor: pointer!important;
    font-weight: 800!important;
  }
  .category-item-order:hover {
    border: 1px solid #FFFFFF;
  }
</style>
