<template>
    <v-row>
        <v-col cols="12" xs="12" sm="6" lg="3" xl="3">
         <v-card class="mx-auto">
            <v-card-text>
            <p class="display-1 text--primary">
                {{ Sales.cash }}
            </p>
            <p class="text-center">Cash</p>
            </v-card-text>
        </v-card>
        </v-col>
        <v-col cols="12" xs="12" sm="6" lg="3" xl="3">
         <v-card class="mx-auto">
            <v-card-text>
            <p class="display-1 text--primary">
                {{ Sales.visa }}
            </p>
            <p class="text-center">VISA</p>
            </v-card-text>
        </v-card>
        </v-col>
        <v-col cols="12" xs="12" sm="6" lg="3" xl="3">
         <v-card class="mx-auto">
            <v-card-text>
            <p class="display-1 text--primary">
                {{ Sales.company }}
            </p>
            <p class="text-center">CREDIT / COMPANY</p>
            </v-card-text>
        </v-card>
        </v-col>
        <v-col cols="12" xs="12" sm="6" lg="3" xl="3">
         <v-card class="mx-auto">
            <v-card-text>
            <p class="display-1 text--primary">
                {{ Sales.mobile }}
            </p>
            <p class="text-center">Mobile Money</p>
            </v-card-text>
        </v-card>
        </v-col>
        <v-col cols="12" xs="12" sm="6" lg="3" xl="3">
         <v-card class="mx-auto">
            <v-card-text>
            <p class="display-1 text--primary">
                {{ Sales.nc }}
            </p>
            <p class="text-center">NC (Not Chargable)</p>
            </v-card-text>
        </v-card>
        </v-col>
        <v-col cols="12" xs="12" sm="6" lg="3" xl="3">
         <v-card class="mx-auto">
            <v-card-text>
            <p class="display-1 text--primary">
                {{ Sales.cancelled }}
            </p>
            <p class="text-center">CANCELLED</p>
            </v-card-text>
        </v-card>
        </v-col>
        <v-col cols="12" xs="12" sm="6" lg="3" xl="3">
         <v-card class="mx-auto">
            <v-card-text>
            <p class="display-1 text--primary">
                {{ Sales.cheque }}
            </p>
            <p class="text-center">CHEQUE</p>
            </v-card-text>
        </v-card>
        </v-col>
        <v-col cols="12" xs="12" sm="6" lg="3" xl="3">
         <v-card class="mx-auto">
            <v-card-text>
            <p class="display-1 text--primary">
                {{ Sales.pending }}
            </p>
            <p class="text-center">PENDING</p>
            </v-card-text>
        </v-card>
        </v-col>
    </v-row>
</template>
<script>
export default {
  name: 'SalesSammary',

  props: {
    sammary: {
      type: Array,
    },
  },

  computed: {
    Sales() {
      return this.sammary[0];
    },
  },

};
</script>
