<template>
    <div>
        <v-row>
            <v-col cols="12" xs="12">
                <p class="mb-2 text-center">
                    <span>
                        <v-btn @click="openCreateDialog" class="mx-2 ml-2 btnCreateOrder">
                          <v-icon dark>mdi-plus</v-icon>Client Order
                        </v-btn>
                    </span>
                </p>
                    <takeawayOrder @selected-order="getOrderDetails" :tkOrder="orders" />
            </v-col>
        </v-row>
    <TakeAwayDialog v-if="createTakeAway" :outlet="outlet" @close-takeaway-dialog="closeTakeAwayModal" />
    </div>
</template>
<script>
import takeawayOrder from '@/components/_Generics/res/takeawayOrder.vue'
import TakeAwayDialog from '@/components/modals/NewTakeAwayOrder.vue'

export default {
  name: 'takeAway',

  props: {
    orders: {
      type: Array
    },
    outlet: {
      type: Object,
      required: true
    }
  },

  components: {
    takeawayOrder,
    TakeAwayDialog
  },

  data () {
    return {
      createTakeAway: false
    }
  },

  methods: {
    closeTakeAwayModal () {
      this.createTakeAway = false
    },

    openCreateDialog () {
      this.createTakeAway = true
    },

    getOrderDetails (order) {
      this.$emit('view-order-details', order)
    }

  }

}
</script>
<style scoped lang="scss">
  @import '../../../styles/style.scss';

  .btnCreateOrder {
    background-color: $blue!important;
    color: $white!important;
  }

</style>
