<template>
 <v-row justify="center">
    <v-dialog class="catsDialog" width="400" persistent v-model="dialog">
        <v-card width="800">
            <v-card-title dense class="headline">
            New Table
            <v-spacer></v-spacer>
            <v-btn small icon class="red--text" @click="closeDialog">
            <v-icon>mdi-close</v-icon></v-btn>
            </v-card-title>
        </v-card>
        <v-card-text class="white">
            <v-form @submit.prevent="createTable">
                <v-select :items="AreaSections"
                item-text='section'
                item-value='id' label="Section" v-model="sectionId"></v-select>
                <v-text-field v-model="tableName" ref="tableName" type="text" label="Table Name"></v-text-field>
                <v-btn block type="submit">SAVE</v-btn>
            </v-form>
        </v-card-text>
    </v-dialog>
 </v-row>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'CreateTableDialog',

  props: {
    AreaSections: {
      type: Array
    }
  },

  data () {
    return {
      dialog: true,
      tableName: '',
      sectionId: null
    }
  },

  computed: {
    ...mapGetters('auth', ['profile']),

    companyProfile () {
      return this.profile
    }
  },

  methods: {
    ...mapActions('sections', ['createNewTable']),
    ...mapActions('auth', ['setError']),

    closeDialog () {
      this.$emit('close-create-modal')
    },

    createTable () {
      if (this.tableName.length <= 0) {
        this.setError('Sorry, Table Name Must Be 1 Character Or More')
      } else if (this.sectionId === null || this.sectionId === undefined) {
        this.setError('Please Selection')
      } else {
        const newTable = {
          section: this.sectionId,
          table: this.tableName.toUpperCase(),
          company: this.companyProfile.company
        }
        this.createNewTable(newTable)
      }
    }
  }

}
</script>
