<template>
  <v-row justify="center">
    <v-dialog class="catsDialog" width="800" persistent v-model="dialog">
      <v-card>
        <v-card-title class="headline">
          <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                  <v-btn v-bind="attrs" v-on="on"  @click="show = !show" icon class="black--text">
                    <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-plus' }}</v-icon>
                  </v-btn>
              </template>
              <span>{{ show ? 'Close Create Option' : 'Create New Area' }}</span>
          </v-tooltip>
          Operation Areas
            <v-spacer></v-spacer>
            <v-text-field hide-details placeholder="Search..." single-line v-model="search"></v-text-field>
            <v-btn small icon class="red--text" @click="closeDialog">
              <v-icon>mdi-close</v-icon></v-btn>
        </v-card-title>
        <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>
        <v-card-text>
          <v-form @submit.prevent="createNewSection">
            <v-row align="center" class="pl-1">
              <v-col cols="8">
                  <v-text-field v-model="sectionName" ref="sectionName" label="Section Name">
                  </v-text-field>
              </v-col>
              <v-col cols="2">
                  <v-btn small type="submit" class="blue darken-3" dark>Create</v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </div>
    </v-expand-transition>
        <v-data-table :search="search" :headers="headers" :items="sections" :items-per-page="5" class="elevation-1">
          <template v-slot:item.hidden="{ item }">
            <small v-if="item.hidden">HIDDEN</small>
            <small v-else>ACTIVE</small>
          </template>
          <template v-slot:item.update="{ item }">
            <v-btn small icon @click="updateSection(item)" class="black--text"><v-icon>mdi-pencil</v-icon></v-btn>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn v-if="item.hidden" small @click="togggleShowSection(item)" class="green--text">SHOW</v-btn>
            <v-btn v-else @click="togggleSection(item)" small class="red--text">HIDE</v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-dialog>
    <UpdateSectionDialog v-if="update" :selectedSection="selectedSection" @close-update-dialog="closeUpdate" />
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import UpdateSectionDialog from '@/components/scm/tablesAndSections/updateSectionModal.vue'

export default {

  name: 'SectionsModal',

  components: {
    UpdateSectionDialog
  },

  data () {
    return {
      selectedSection: null,
      update: false,
      create: false,
      dialog: true,
      headers: [
        { text: 'Section', value: 'section', sortable: true },
        { text: 'Status', value: 'hidden', sortable: false },
        { text: '', value: 'actions', sortable: false },
        { text: '', value: 'update', sortable: false }
      ],
      sectionName: '',
      search: '',
      show: false
    }
  },

  computed: {
    ...mapGetters('sections', ['loadedSections']),
    ...mapGetters('auth', ['profile']),

    companyProfile () {
      return this.profile
    },

    sections () {
      return this.loadedSections
    }
  },

  methods: {
    ...mapActions('auth', ['setError']),
    ...mapActions('sections', ['createSection', 'hideSection', 'showSection']),

    closeDialog () {
      this.$emit('close-sections-dialog')
    },

    closeUpdate () {
      this.update = false
    },

    updateSection (section) {
      this.selectedSection = section
      this.update = true
    },

    createNewSection () {
      if (this.sectionName.length <= 1) {
        this.setError('Sorry, Section Name Must Be Atleast 2 Characters Long')
        this.$refs.sectionName.focus()
      } else {
        const newSection = {
          company: this.companyProfile.company,
          section: this.sectionName.toUpperCase()
        }
        this.createSection(newSection)
      }
    },

    togggleSection (section) {
      this.hideSection(section)
    },

    togggleShowSection (section) {
      this.showSection(section)
    }

  }
}
</script>
<style scoped>
  .catsDialog {
    min-height: 500px !important;
    max-height: 500px !important;
    overflow-x: hidden !important;
  }
</style>
