<template>
    <v-row justify="center">
        <v-dialog class="catsDialog" width="400" persistent v-model="dialog">
            <v-card>
                <v-card-title class="headline" v-if="selectedTable">
                    {{ selectedTable.table }}
                    <v-spacer></v-spacer>
                    <v-btn small icon class="red--text" @click="closeDialog"><v-icon>mdi-close</v-icon></v-btn>
                </v-card-title>
                <v-card-text>
                    <v-form @submit.prevent="updateTable">
                        <v-select :items="sections"
                        item-text='section'
                        item-value='id' label="Section" v-model="sectionId"></v-select>
                        <v-text-field v-model="update" label="Table Name" />
                        <v-btn small type="submit" class="blue darken-3" dark>Update</v-btn>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'UpdateTableDialog',

  props: {
    selectedTable: {
      type: Object
    }
  },

  data () {
    return {
      dialog: true,
      update: '',
      sectionId: null
    }
  },

  computed: {
    ...mapGetters('sections', ['loadedSections']),

    sections () {
      return this.loadedSections
    }

  },

  created () {
    this.update = this.selectedTable.table
    this.sectionId = this.selectedTable.section
  },

  methods: {
    ...mapActions('sections', ['updateRestaurantTable']),

    closeDialog () {
      this.$emit('close-table-update-dialog')
    },

    updateTable () {
      const updatedTable = {
        table: this.update.toUpperCase(),
        section: this.sectionId,
        id: this.selectedTable.id
      }
      this.updateRestaurantTable(updatedTable)
      this.$emit('close-table-update-dialog')
    }
  }

}
</script>
