<template>
    <v-row justify="center">
        <v-dialog class="catsDialog" width="400" persistent v-model="dialog">
            <v-card>
                <v-card-title class="headline" v-if="selectedSection">
                    {{ selectedSection.section }}
                    <v-spacer></v-spacer>
                    <v-btn small icon class="red--text" @click="closeDialog"><v-icon>mdi-close</v-icon></v-btn>
                </v-card-title>
                <v-card-text>
                    <v-form @submit.prevent="updateSection">
                        <v-row align="center" class="pl-1">
                        <v-col cols="8">
                            <v-text-field v-model="update" label="Section Name" />
                        </v-col>
                        <v-col cols="2">
                            <v-btn small type="submit" class="blue darken-3" dark>Update</v-btn>
                        </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'UpdateSectionDialog',

  props: {
    selectedSection: {
      type: Object
    }
  },

  data () {
    return {
      dialog: true,
      update: ''
    }
  },

  created () {
    this.update = this.selectedSection.section
  },

  methods: {
    ...mapActions('sections', ['updateSectionDetails']),

    closeDialog () {
      this.$emit('close-update-dialog')
    },

    updateSection () {
      const updatedSection = {
        section: this.update,
        id: this.selectedSection.id,
        company: this.selectedSection.company
      }
      this.updateSectionDetails(updatedSection)
      this.$emit('close-update-dialog')
    }
  }

}
</script>
