<template>
  <v-container>
    <v-row>
      <v-col cols="12" xs="12" sm="6" offset-sm="3" md="6" offset-md="3">
          <LoginForm />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import LoginForm from '@/components/auth/loginForm.vue'

export default {
  name: 'Home',

  components: {
    LoginForm
  }
}
</script>
