<template>
    <div>
        <div class="jumbotron" style="background-image: url('../../assets/cover.jpg')">
        </div>
        <v-row>
            <v-col cols="12" xs="12" class="text-center intro">
                <h3 class="pos">Smart POS lets you see how
                    your business is doing instantly through our POS Live App</h3>
                <p>For Restauraants, Bars, Retail & Wholesale Businesses</p>
                <p>Get Sales, Cashbook Accounting, Stocks, Live Sales App and Cloud Backups</p>
            </v-col>
        </v-row>
        <v-row class="introRow">
            <v-col cols="12" xs="12" sm="12" md="4" lg="4" xl="4">
                <img src="@/assets/preview1.png" class="preview">
            </v-col>
            <v-col cols="12" xs="12" sm="12" md="8" lg="8" xl="8">
                <h3>Learn More About Our Features</h3>
                <p>Smart POS Software Features Inventory, Sales, CashBook Accounting, Live Sales Tracking & Remote Order Taking.</p>
                <ul>
                    <li><strong>Secure access anytime, on your mobile device. </strong> Access your sales in realtime from our Anroid POS Live App.</li>
                    <li><strong>Easily track cash flow. </strong> send quotes and invoices, track sales and expenses, print Invoices on the go with a bluetooth Printer.</li>
                    <li><strong>Reports and insights. </strong> Access Sales Reports in realtime, view business insights on the go with our email enabled reporting and push notifications.</li>
                </ul>
            </v-col>
        </v-row>
        <v-row class="gameChanger">
            <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12" class="text-center">
                <h1>Possibly The Best POS System Developed In Uganda</h1>
            </v-col>
        </v-row>
        <v-row class="gameChanger">
            <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4" class="text-center">
                <img class="featureImg" src="../../assets/access.png" alt="Card image">
                <strong>Manage your business on the go</strong>
                <p class="card-text">Access your account, manage your business, and stay organized on your computer, mobile phone, or tablet.</p>
            </v-col>
            <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4" class="text-center">
                <img class="featureImg" src="../../assets/statements.png" alt="Card image">
                <strong>Track your expenses</strong>
                <p class="card-text">Access all expenses, see cash at hand and a weekly expense preview from your phone, tablet or web.</p>
            </v-col>
            <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4" class="text-center">
                <img class="featureImg" src="../../assets/create_invoice.png" alt="Card image">
                <strong>Create invoices & quotations</strong>
                <p class="card-text">Generate professional profomas, receipts that you can send in minutes via email.</p>
            </v-col>
        </v-row>
        <v-row class="gameChanger">
            <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4" class="text-center">
                <img class="featureImg" src="../../assets/manage_inventory.png" alt="Card image">
                <strong>View your stock at hand</strong>
                <p class="card-text">Mornitor your inventory at all times in realtime via web, mobile or tablet.</p>
            </v-col>
            <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4" class="text-center">
                <img class="featureImg" src="../../assets/purchase.png" alt="Card image">
                <strong>Stay on top of purchase orders</strong>
                <p class="card-text">Keep track of what you’ve ordered from each vendor. Get upto date vendors' statements.</p>
            </v-col>
            <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4" class="text-center">
                <img class="featureImg" src="../../assets/purchase.png" alt="Card image">
                <strong>Automatic backups</strong>
                <p class="card-text">Your data is always in sync with Google firebase cloud databases accross all devices at all times.</p>
            </v-col>
        </v-row>
        <v-row class="gameChanger">
            <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4" class="text-center">
                <img class="featureImg" src="../../assets/profit_loss.png" alt="Card image">
                <strong>Know where your business stands</strong>
                <p class="card-text">Instantly see how your business is performing with customizable reports and dashboards.</p>
            </v-col>
            <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4" class="text-center">
                <img class="featureImg" src="../../assets/business_state.png" alt="Card image">
                <strong>Take control of your cash flow</strong>
                <p class="card-text">With upto FIVE modes of bill settlements including Cash, Visa, Mobile Money, NC And Credit. You have flexibility in orperations.</p>
            </v-col>
            <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4" class="text-center">
                <img class="featureImg" src="../../assets/chat.png" alt="Card image">
                <strong>Free unlimited support</strong>
                <p class="card-text">If you need help, support is available with answers to your questions and information on running your business.</p>
            </v-col>
        </v-row>

        <v-row class="DemoRequest">
            <v-col cols="12" xs="12" sm="6" md="6" lg="6" xl="6" class="text-center">
                <v-row>
                    <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4">
                        <img class="img img-circle ReviewImg" src="../../assets/inkoko.jpg"/>
                    </v-col>
                    <v-col cols="12" xs="12" sm="8" md="8" lg="8" xl="8">
                        <p class="ReviewMessage">" I am pleased to share that Samuel went above and beyond to tailor the system to my satisfaction, which we
                            have been using since May 2018. He consistently spends time to find new ways of improving the system and is
                            always concerned about the efficiency of the solutions he recommends. "</p>
                        <a style="text-decoration:none;" href="https://chophouseafrica.com/listing/inkoko-rotisserie/">
                            <p class="Author">Nima Yussuf - Inkoko Rotisserie - Kigali, Rwanda</p>
                        </a>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="12" xs="12" sm="6" md="6" lg="6" xl="6" class="text-center">
                <v-row>
                    <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4">
                        <img class="img img-circle ReviewImg" src="../../assets/wow.jpg"/>
                    </v-col>
                    <v-col cols="12" xs="12" sm="8" md="8" lg="8" xl="8">
                        <p class="ReviewMessage">" We have always found Mr Samuel to be a credible asset to the POS Software, however he designed
                        & developed his POS software to be user friendly, with sole purpose of making life easier and
                        business better. "</p>
                        <a style="text-decoration:none;" href="https://www.lonelyplanet.com/rwanda/gisenyi-rubavu/restaurants/lakeside-restaurant-beach-bar/a/poi-eat/1579459/1331542">
                            <p class="Author">Elias Abdo - Lakeside Restaurant & Beach Bar - Gisenyi, Rwanda</p>
                        </a>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>

        <v-row>
            <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12" class="text-center GetStarted">
                <h1>Get Started with Smart POS today!
                    <span><br>
                        <a href="pricing.html"><v-btn lg dark class="BtnRequestDemo">See Plans And Pricing</v-btn></a>
                    </span>
                </h1>
            </v-col>
        </v-row>

        <v-row class="row DemoRequest footer">
            <v-col cols="12" xs="12" sm="12" md="4" lg="4" xl="4" class="footerCol">
                <p>Smart Client POS Software</p>
                <a href="https://www.linkedin.com/in/mpwanyi-samuel-402b36108"><p>Designed By Mpwanyi Samuel</p></a>
                <a>
                    <img src="../../assets/playstore.png" class="playstore"/>
                    <p>Download Smart Client POS App</p>
                </a>
            </v-col>
            <v-col cols="12" xs="12" sm="12" md="4" lg="4" xl="4" class="footerCol">
                <p>Support</p>
                <a href="mailto:samuelmpwanyi@gmail.com" target="_top"><p><i aria-hidden="true" class="v-icon notranslate v-icon--left mdi mdi-email theme--dark"></i>&nbsp;samuelmpwanyi@gmail.com</p></a>
                <a href="mailto:thetravella2019@gmail.com" target="_top"><p><i aria-hidden="true" class="v-icon notranslate v-icon--left mdi mdi-email theme--dark"></i>&nbsp;thetravella2019@gmail.com</p></a>
                <a href="https://wa.me/+256780101601" target="_top"><p><i aria-hidden="true" class="v-icon notranslate v-icon--left mdi mdi-whatsapp theme--dark"></i>&nbsp;+256 (780) 101601</p></a>
                <a href="https://www.facebook.com/Smart-Client-POS-103582507687466/" target="_top"><p><i aria-hidden="true" class="v-icon notranslate v-icon--left mdi mdi-email theme--dark"></i>&nbsp;Facebook</p></a>
                <a href="https://www.instagram.com/smar_tpos/" target="_top"><p><i aria-hidden="true" class="v-icon notranslate v-icon--left mdi mdi-instagram theme--dark"></i>&nbsp;Instagram</p></a>
            </v-col>
            <v-col cols="12" xs="12" sm="12" md="4" lg="4" xl="4" class="footerCol">
                <p>Other Products</p>
                <!-- <a href="http://thetravella.com/" target="_top"><p><i aria-hidden="true" class="v-icon notranslate v-icon--left mdi mdi-earth theme--dark"></i>&nbsp;The Travella</p></a> -->
                <a href="http://thetravella.com/Business" target="_top"><p><i aria-hidden="true" class="v-icon notranslate v-icon--left mdi mdi-instagram theme--dark"></i>&nbsp;Smart POS For Business</p></a>
                <a>
                    <img src="../../assets/uganda.png" class="uganda"/>
                </a>
            </v-col>
        </v-row>

    </div>
</template>
<script>
export default {
  name: 'Landing'
}
</script>
<style scoped lang="scss">
@import '../../styles/style.scss';
    .intro {
        background-color: $blue;
        color: #ffffff;
    }
    .jumbotron {
        background-image: url('../../assets/cover.jpg');
    }
</style>
