<template>
    <div>
        <v-card>
            <Loading />
            <v-img src="../../assets/home.jpg" height="200" />
            <v-card-title class="font-weight-light">
                Smart Client POS
            </v-card-title>
                <v-form @submit.prevent="loginUser">
                <v-card-text>
                    <v-divider></v-divider>
                    <v-text-field v-model="Username" label="Username"></v-text-field>
                    <v-text-field v-model="Password" label="Password" type="password">
                    </v-text-field>
                    <v-btn type="submit" block class="btn-login">Login</v-btn>
                </v-card-text>
                <v-card-actions>
                    <v-btn :to="{ name: 'Register' }" text x-small
                    class="forgotpassword font-weight-light black--text">
                      Create account</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn @click="passwordReset = true" text x-small
                    class="forgotpassword font-weight-light black--text">
                      Forgot password</v-btn>
                </v-card-actions>
                </v-form>
                <v-progress-linear v-if="loadingState" indeterminate color="blue darken-2"></v-progress-linear>
            <Loading />
        </v-card>
        <div>
            <ForgotPassword
              @perform-reset="resetPassword"
              v-if="passwordReset"
              @close="passwordReset = false"
            />
            <div class="text-center">
              <section id="firebaseui-auth-container"></section>
            </div>
        </div>
    </div>
</template>
<script>
import validator from 'validator'
import { mapActions, mapGetters } from 'vuex'
import Loading from '@/components/_Generics/notifications/loading.vue'
import ForgotPassword from '@/components/auth/passwordReset.vue'
import * as firebase from 'firebase'
import * as firebaseui from 'firebaseui'
import 'firebaseui/dist/firebaseui.css'

export default {
  name: 'LoginForm',

  components: {
    Loading,
    ForgotPassword
  },

  data () {
    return {
      Username: '',
      Password: '',
      passwordReset: false
    }
  },

  mounted () {
    let ui = firebaseui.auth.AuthUI.getInstance()
    if (!ui) {
      ui = new firebaseui.auth.AuthUI(firebase.auth())
    }
    const uiConfig = {
      signInSuccessUrl: '/Sales',
      signInFlow: 'popup',
      signInOptions: [
        // firebase.auth.PhoneAuthProvider.PROVIDER_ID,
        // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
        firebase.auth.GoogleAuthProvider.PROVIDER_ID
        // firebase.auth.TwitterAuthProvider.PROVIDER_ID,
        // firebase.auth.EmailAuthProvider.PROVIDER_ID
      ]
    }
    ui.start('#firebaseui-auth-container', uiConfig)
  },

  computed: {
    ...mapGetters('auth', ['loadingState', 'getError'])
  },

  methods: {
    ...mapActions('auth', ['performLogin', 'setError', 'performPasswordReset']),

    loginUser () {
      if (this.Username.length <= 2) {
        this.setError('Sorry, Username Must be atleast 3 Characters long')
      } else if (this.Username.Password <= 5) {
        this.setError('Sorry, Password Must be atleast 6 Characters long')
      } else {
        const credentials = {
          email: this.Username,
          pass: this.Password
        }
        this.performLogin(credentials)
      }
    },

    resetPassword (email) {
      if (!validator.isEmail(email)) {
        this.setError('Please enter a valid Email Address')
      } else {
        this.performPasswordReset(email)
        this.passwordReset = false
      }
    }

  }

}
</script>
<style scoped lang="scss">
@import '../../styles/style.scss';
  .forgotpassword {
      cursor: pointer;
  }
  .user-actions {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .btn-login {
    background-color: $blue!important;
    color: $white;
  }
</style>
