<template>
    <v-dialog v-model="dialog" width="500">
        <v-card>
            <v-card-title class="authDialog">
                Password recovery
                <v-spacer></v-spacer>
                 <v-btn icon small @click="closeDialog">
                     <v-icon>mdi-close</v-icon>
                 </v-btn>
                </v-card-title>
                <v-card-text class="mt-3">
                  <div class="text-center black--text font-weight-light">
                    A password reset email will be sent to the email address you provide
                  </div>
                  <div class="mt-3">
                    <v-form @submit.prevent="resetPassword">
                    <v-text-field v-model.trim="emailaddress" label="Email" placeholder="Enter Email address"></v-text-field>
                    <v-btn class="ma-2" disabled v-if="!emailValidity" outlined block color="red">Send reset email</v-btn>
                    <v-btn v-else type="submit" small block class="btn-login">Send reset email</v-btn>
                    </v-form>
                  </div>
                </v-card-text>
        </v-card>
    </v-dialog>
</template>
<script>
import validator from 'validator'

export default {
  name: 'ForgotPassword',

  data () {
    return {
      dialog: true,
      emailaddress: '',
      emailValidity: false
    }
  },

  watch: {
    emailaddress (newVal) {
      this.emailValidity = validator.isEmail(newVal)
    }
  },

  methods: {
    closeDialog () {
      this.$emit('close')
    },
    resetPassword () {
      this.$emit('perform-reset', this.emailaddress)
      this.$emit('close')
    }
  }
}
</script>
<style scoped lang="scss">
@import '../../styles/style.scss';
    .btn-login {
      background-color: $blue!important;
      color: $white;
    }
</style>
